.esignBuilder {
  margin-top: 88px;
  text-align: left !important;

  header {
    position: relative !important;
    margin-top: 0 !important;
  }

  .main-wrapper {
    padding: 0 !important;
  }

  .add-recipeit {
    margin: 0 !important;
  }

  &__title {
    font-family: Sarabun, sans-serif !important;
    font-weight: 600 !important;
    margin: 25px 0 !important;
    font-size: 28px !important;
  }

  .alert-warning {
    color: #f8b425;
    background-color: #fdeac3;
  }

  .action-envlo {
    & > ul {
      display: grid;
      row-gap: 10px;
    }

    li .dropdown-toggle:after {
      content: "";
      position: relative;
    }
  }

  &__submit,
  &__addForm {
    cursor: pointer !important;
  }

  &__submit {
    color: #1e1e1e;
    background-color: #ffce00;
    border: 1px solid #ffce00;

    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 3px;

    &:hover,
    &:active,
    &:focus {
      color: #1e1e1e !important;
      background-color: #ffce00 !important;
      border-color: #ffce00 !important;
    }
  }

  .left-wnvofrm {
    margin-bottom: 135px;
  }

  &__docPreview {
    display: flex;
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: zoom-in;

    canvas {
      width: 250px;
      border: 0;
      border-radius: 0;
    }
  }

  &__docInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px 15px;
    background-color: #f7f7f7;
  }

  &__docTitle {
    font-family: "Open Sans", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    user-select: none;
    font-weight: 600;
    margin: 0;
    font-size: 13px;
    color: #797979;
  }

  &__docPageCount {
    font-size: 12px;
    color: #797979;
  }

  &__modal {
    canvas {
      display: block;
      margin: 15px auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0;
    }
  }

  .document-page {
    position: relative;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  .menu_item.ui-draggable {
    padding: 0;
    z-index: 1;

    .subData {
      background-color: #ffd65b;
      padding: 5px 10px;
      font-family: monospace;
      border-radius: 3px;
    }
  }

  .docPage {
    width: max-content;
  }
}
