.h1-spacer {
    text-align: right;
    margin-top: 32px;
}

.filter-date {
    width: 240px;
}

.filter-date .dropdown-toggle {
    width: 240px;
    text-align: left;
    position: relative;
}

.filter-date .dropdown-toggle .caret {
    position: absolute;
    top: 15px;
    right: 10px;
}

.filter .dropdown-menu {
    min-width: 210px;
}

/* table */
.tr--primary td {
    background: #f4f4f4;
}

.tr--bold td {
    font-weight: bold;
}

.tr--border-top-2 {
    border-top: 2px solid #ddd;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-weight: bold;
}

.border-left {
    border-left: 1px solid #d8d8d8;
}

.border-right {
    border-right: 1px solid #d8d8d8;
}

/* item */
.item-description {
    margin-top: 3px;
}

toggle.btn-default {
    color: #333;
    background-color: #e6e6e6 !important;
    border-color: #adadad;
}

/* dropdown-menu */
.dropdown-menu>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #222222;
    background-color: #eaeaea;
}

.dropdown-menu .icon {
    width: 24px;
    color: #888;
}

.dropdown-menu-align-right {
    left: auto;
    right: 0;
}

.btn-default.active,
.btn-default:active,
.btn-default:hover,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.select-report {
    width: 170px;
    display: inline-block;
}

.stats {
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
}

.stats li {
    display: inline-block;
    margin-right: 45px;
}

.stats li:last-child {
    margin-right: 0;
}

.stats li a {
    color: #333;
}

.stats li .stats-name {
    display: block;
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.stats li .stats-value {
    font-size: 24px;
}

h3 {
    margin-bottom: 0px;
}

/* bubble */
.bubble-set {
    width: 8px;
    height: 8px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 50%;
}

.bubble-set-0 {
    background-color: #0181c1;
}

.bubble-set-1 {
    background-color: #ea7305;
}

/* header */
.header-top {
    position: relative;
}

.header-top .avatar {
    position: absolute;
    top: -10px;
    right: 0px;
}

/* avatar */
.user-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}