.alert-warning {
  color: #333;
  background-color: #fdeac3;

  p {
    margin-bottom: 0;
  }
}

.link {
  color: #1e5da9;
  font-size: 14px;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: #1e5da9;
    text-decoration: underline;
  }
}

.categoriesList {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__actions {
    display: flex;
  }

  button {
    border: 0;
    background-color: transparent;
    outline: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__item--isLocked {
    & [data-action="edit_category"],
    & [data-action="delete_category"] {
      display: none;
    }
  }

  .categoriesList__item:not(.categoriesList__item--isLocked) {
    & [data-action="locked"] {
      display: none;
    }
  }
}

.esigneditor__title {
  font-size: 32px;
  color: #333;
}

.esigneditor__btn {
  display: flex;
  align-items: center;

  .spinner-border {
    margin: 0;
    margin-right: 8px;
    display: none;
  }

  &--loading {
    .spinner-border {
      display: block;
    }
  }
}

#letters_filter {
  & > label {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
  }

  .icon {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  [type="search"] {
    visibility: visible;
    position: relative;
    height: 100%;
    padding-left: 45px;
    margin-left: 0;
  }
}

.wrapper {
  position: relative;

  &--loading {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  &:not(.wrapper--loading) {
    .esigneditor__loader {
      display: none;
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }
}
.esigneditor__loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 501;

  &Inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .spinner-border {
    margin: 0;
  }
}

.wizardForm {
  .wizardForm__step2 {
    display: none;
  }

  &--step2 {
    .wizardForm__step1 {
      display: none;
    }

    .wizardForm__step2 {
      display: block;
    }
  }
}

.table {
  &__selectColumn {
    width: 50px !important;
    padding: 0 !important;
    text-align: center;

    .table__checkbox {
      width: 15px;
      height: 15px;
    }
  }

  &__row--selected {
    background-color: #e4e7eb !important;
  }

  &__actions {
    width: 135px !important;
  }

  .btn-light {
    color: #333;

    &:hover,
    &:active {
      color: #333;
    }
  }
}

#sendLetterModal {
  .sendLetter__option {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 1rem;

    &--active {
      border-color: #0075ff;
      border-width: 3px;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    h3 {
      margin: 0;
      font-size: 24px;
    }

    p {
      margin-bottom: 0;
    }

    &Text {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .form-check-input {
      width: 1rem;
      height: 1rem;
    }
  }

  &[data-step-active="select"] {
    [data-step="print"],
    [data-step="email"] {
      display: none;
    }

    [data-action="next"] {
      display: block;
    }

    [data-action="email"],
    [data-action="print"] {
      display: none;
    }
  }

  &[data-step-active="email"] {
    [data-step="select"],
    [data-step="print"] {
      display: none;
    }

    [data-step="email"] {
      display: block;
    }

    [data-action="email"] {
      display: flex;
    }

    [data-action="next"],
    [data-action="print"] {
      display: none;
    }
  }

  &[data-step-active="print"] {
    [data-step="select"],
    [data-step="email"] {
      display: none;
    }

    [data-step="print"] {
      display: block;
    }

    [data-action="print"] {
      display: flex;
    }

    [data-action="next"],
    [data-action="email"] {
      display: none;
    }
  }
}

.preview {
  background-color: #e2e2e2;
  padding: 2rem;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #c9c9c9;
  border-radius: 4px;

  &__item {
    background-color: #fff;
    padding: 2.5rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.statusFilter {
  padding: 8px 0;

  input:not(:checked) {
    & + label {
      font-weight: 400;
    }
  }

  label {
    font-family: var(--font-family-sans-serif);
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #007bff !important;
    background-color: #007bff !important;
  }
}

.esignEditorLetters {
  select.form-control {
    width: fit-content;
    min-width: 225px;
    margin-right: 8px !important;
  }

  #letters td {
    &:nth-of-type(1) {
      width: 500px;

      .link {
        display: block;
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:nth-of-type(2) {
      width: 100%;
    }
  }
}

.note-editor {
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #212529 !important;
  }

  .note-image-input {
    display: block;
  }
}

#previewLetterModal {
  .modal-title {
    display: block;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1rem;
  }
}

#manageCustomFieldsModal {
  form {
    max-height: 500px;
    overflow-y: auto;
    padding: 0 1rem;
  }
}
.customerCustomField {
  --input-height: 35px;

  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1rem;

  label {
    font-size: 13px;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .form-control {
    height: var(--input-height);
    font-size: 14px;
  }

  .btn {
    height: var(--input-height);
  }
}

.btn-favorite {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #b4b4b4;

  &--active,
  &:hover {
    color: #fc2e63;
  }
}

.userPlaceholder {
  max-height: 300px;
  overflow: auto;
  padding-right: 10px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__actions {
    display: flex;
  }

  button {
    border: 0;
    background-color: transparent;
    outline: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.customers {
  max-height: 500px;
  overflow: auto;
  padding: 0 0.5rem;
}
.customer {
  display: flex;
  gap: 1rem;
  padding: 8px;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover,
  &--isSelected {
    background-color: #eaeaea;
    border-color: #e0e0e0;
  }

  &__img {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
  }

  &__name {
    font-weight: 600;
  }

  &__email {
    color: #737373;
    font-size: 13px;
  }
}

#wizard .step {
  padding: 1rem 1.3rem;
  border: 1px solid #333;
  border-radius: 5px;

  &--active {
    border-color: #0075ff;
    border-width: 3px;
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
  }

  &__title {
    font-size: 1.3rem;
    margin: 0;

    span {
      font-weight: 400;
    }
  }

  &__radioGroup {
    padding: 8px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;

    &:first-child {
      margin-top: 1rem;
    }

    label {
      font-size: 14px;
      margin-bottom: 0;
    }

    .form-check {
      position: relative;
      top: -2px;
    }
  }

  &__radio {
    width: 1rem;
    height: 1rem;
  }
}
#newdisputemodal .newdisputemodal {
  &__title {
    font-size: 1.3rem;
    margin: 0;
  }

  &__bureaus {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .form-check {
      display: flex;
      align-items: center;
    }

    .form-check-input {
      width: 1rem;
      height: 1rem;
    }

    .form-check-label {
      position: relative;
      top: 2px;
      margin-left: 8px;
    }
  }

  &__accnumber {
    .form-check-input {
      width: 1rem;
      height: 1rem;
    }

    .form-check-label {
      margin-left: 10px;
      position: relative;
      top: 1px;
    }
  }

  &__selects {
    .form-group {
      label {
        font-size: 13px;
      }
    }

    .link {
      display: block;
      margin-top: 10px;
    }
  }
}

#additemmodal,
#selecteddisputeitemstable {
  .modal-dialog {
    @media (min-width: 992px) {
      max-width: 1000px;
    }
  }

  #customerdisputestable {
    width: 100% !important;
  }

  .table-wraper {
    max-height: 500px;
    overflow: auto;
  }

  th.accountnum,
  td.accountnum {
    width: 100px !important;
  }
  div.accountnum {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    text-transform: capitalize;
  }

  .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    text-align: center;

    &__logo {
      --size: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--size);
      width: var(--size);

      .fa {
        line-height: 0;
      }
    }

    &--verified,
    &--negative {
      .status__logo {
        background-color: #e4251b;
        color: #fff;

        .fa::before {
          content: "\f00d";
        }
      }
    }

    &--in_dispute {
      .status__logo {
        background-color: #f89e3f;
        color: #fff;

        .fa::before {
          content: "\f017";
        }
      }
    }
  }

  .reason {
    --line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
  }

  .btn-delete {
    --size: 40px;
    --color: #32243d;
    height: var(--size);
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0;
    color: #32243d;
    border: 0;
    background-color: transparent;
    border-radius: var(--size);

    &:hover,
    &:active,
    &:focus {
      color: var(--color);
    }

    &:hover {
      background-color: #faf3ff;
    }
  }
}

#selecteddisputeitemstable {
  width: 100% !important;
}

.btn-ghost {
  --color: #32243d;
  border-color: var(--color);
  color: var(--color);

  &:hover,
  &:active,
  &:focus {
    border-color: var(--color) !important;
    color: var(--color) !important;
  }
}
