.alert-warning {
  color: #333;
  background-color: #fdeac3;

  p {
    margin-bottom: 0;
  }
}

.link {
  color: #1e5da9;
  font-size: 14px;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: #1e5da9;
    text-decoration: underline;
  }
}

.note-editor {
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #212529 !important;
  }
}

.categoriesList {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__actions {
    display: flex;
  }

  button {
    border: 0;
    background-color: transparent;
    outline: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__item--isLocked {
    & [data-action="edit_category"],
    & [data-action="delete_category"] {
      display: none;
    }
  }

  .categoriesList__item:not(.categoriesList__item--isLocked) {
    & [data-action="locked"] {
      display: none;
    }
  }
}

.esigneditor__title {
  font-size: 32px;
  color: #333;
}

.esigneditor__btn {
  display: flex;
  align-items: center;

  .spinner-border {
    margin: 0;
    margin-right: 8px;
    display: none;
  }

  &--loading {
    .spinner-border {
      display: block;
    }
  }
}

#letters_filter {
  & > label {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
  }

  .icon {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  [type="search"] {
    visibility: visible;
    position: relative;
    height: 100%;
    padding-left: 45px;
    margin-left: 0;
  }
}

.wrapper {
  position: relative;

  &--loading {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  &:not(.wrapper--loading) {
    .esigneditor__loader {
      display: none;
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }
}
.esigneditor__loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 501;

  &Inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .spinner-border {
    margin: 0;
  }
}

.wizardForm {
  .wizardForm__step2 {
    display: none;
  }

  &--step2 {
    .wizardForm__step1 {
      display: none;
    }

    .wizardForm__step2 {
      display: block;
    }
  }
}
