.alert-warning {
  color: #333;
  background-color: #fdeac3;

  p {
    margin-bottom: 0;
  }
}

.link {
  color: #1e5da9;
  font-size: 14px;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: #1e5da9;
    text-decoration: underline;
  }
}

.categoriesList {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__actions {
    display: flex;
  }

  button {
    border: 0;
    background-color: transparent;
    outline: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__item--isLocked {
    & [data-action="edit_category"],
    & [data-action="delete_category"] {
      display: none;
    }
  }

  .categoriesList__item:not(.categoriesList__item--isLocked) {
    & [data-action="locked"] {
      display: none;
    }
  }
}

.esigneditor__title {
  font-size: 32px;
  color: #333;
}

.esigneditor__btn {
  display: flex;
  align-items: center;

  .spinner-border {
    margin: 0;
    margin-right: 8px;
    display: none;
  }

  &--loading {
    .spinner-border {
      display: block;
    }
  }
}

#letters_filter {
  & > label {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
  }

  .icon {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  [type="search"] {
    visibility: visible;
    position: relative;
    height: 100%;
    padding-left: 45px;
    margin-left: 0;
  }
}

.wrapper {
  position: relative;

  &--loading {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  &:not(.wrapper--loading) {
    .esigneditor__loader {
      display: none;
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }
}
.esigneditor__loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 501;

  &Inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .spinner-border {
    margin: 0;
  }
}

.wizardForm {
  .wizardForm__step2 {
    display: none;
  }

  &--step2 {
    .wizardForm__step1 {
      display: none;
    }

    .wizardForm__step2 {
      display: block;
    }
  }
}

.table {
  &__selectColumn {
    width: 50px !important;
    padding: 0 !important;
    text-align: center;

    .table__checkbox {
      width: 15px;
      height: 15px;
    }
  }

  &__row--selected {
    background-color: #e4e7eb !important;
  }

  &__actions {
    width: 135px !important;
  }

  .btn-light {
    color: #333;

    &:hover,
    &:active {
      color: #333;
    }
  }
}

#sendLetterModal {
  .sendLetter__option {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 1rem;

    &--active {
      border-color: #0075ff;
      border-width: 3px;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    h3 {
      margin: 0;
      font-size: 24px;
    }

    p {
      margin-bottom: 0;
    }

    &Text {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .form-check-input {
      width: 1rem;
      height: 1rem;
    }
  }

  &[data-step-active="select"] {
    [data-step="print"],
    [data-step="email"] {
      display: none;
    }

    [data-action="next"] {
      display: block;
    }

    [data-action="email"],
    [data-action="print"] {
      display: none;
    }
  }

  &[data-step-active="email"] {
    [data-step="select"],
    [data-step="print"] {
      display: none;
    }

    [data-step="email"] {
      display: block;
    }

    [data-action="email"] {
      display: flex;
    }

    [data-action="next"],
    [data-action="print"] {
      display: none;
    }
  }

  &[data-step-active="print"] {
    [data-step="select"],
    [data-step="email"] {
      display: none;
    }

    [data-step="print"] {
      display: block;
    }

    [data-action="print"] {
      display: flex;
    }

    [data-action="next"],
    [data-action="email"] {
      display: none;
    }
  }
}

.preview {
  background-color: #e2e2e2;
  padding: 2rem;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #c9c9c9;
  border-radius: 4px;

  &__item {
    background-color: #fff;
    padding: 2.5rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.statusFilter {
  padding: 8px 0;

  input:not(:checked) {
    & + label {
      font-weight: 400;
    }
  }

  label {
    font-family: var(--font-family-sans-serif);
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #007bff !important;
    background-color: #007bff !important;
  }
}

.esignEditorLetters {
  select.form-control {
    width: fit-content;
    min-width: 225px;
    margin-right: 8px !important;
  }

  #letters td {
    &:nth-of-type(1) {
      width: 500px;

      .link {
        display: block;
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:nth-of-type(2) {
      width: 100%;
    }
  }
}

.note-editor {
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #212529 !important;
  }

  .note-image-input {
    display: block;
  }
}
