    .jobs-collapse-btn {
        padding: 20px;
        font-size: 14px;
        color: #616161;
        border-bottom: solid 1px #CCCCCC;
        text-align: center;
    }
    
    .jobs-collapse-btn:hover {
        background-color: #F7F6EF;
    }
    
    .jobs-collapse-btn.collapse-active {
        background-color: #F7F6EF;
        font-weight: bold;
    }
    
    table.adp-directions td.adp-substep {
        border: none;
        font-size: 13px;
        position: relative;
    }
    
    table.adp-directions td.adp-substep .adp-stepicon .adp-maneuver {
        background-image: url('../../img/trac360/directions.png');
    }
    
    table.adp-directions td.adp-substep .adp-stepicon .adp-maneuver {
        left: 7px;
        top: 5px;
    }
    
    table.adp-directions td.adp-substep .adp-stepicon {
        width: 30px;
        height: 30px;
        background-color: #2196f3;
        border-radius: 50%;
        overflow: visible;
    }
    
    table.adp-directions tr {
        height: 60px;
        overflow: hidden;
    }
    
    table.adp-directions td.adp-substep:first-child:after {
        content: ' ';
        width: 3px;
        height: 61px;
        background: #2196f3;
        z-index: -1;
        bottom: -8px;
        position: absolute;
        left: 16px;
    }
    
    table.adp-directions td.adp-substep:first-child:before {
        content: ' ';
        width: 20px;
        height: 20px;
        border-radius: 50px;
        position: absolute;
        background-color: #2196f3;
        left: 7px;
        top: 7px;
    }
    
    table.adp-directions tr:last-child td.adp-substep:first-child:after {
        content: none;
    }
    
    table.adp-directions td.adp-substep:last-child {
        font-size: 13px;
    }
    
    table.adp-directions tr:hover {
        font-weight: 400;
    }
    
    #single-job-view-directionsRenderer-panel-view .adp-summary {
        text-align: right;
    }
    
    #single-job-view-directionsRenderer-panel-view table.adp-placemark td:first-child {
        display: none;
    }
    
    #single-job-view-directionsRenderer-panel-view table.adp-placemark td.adp-text {
        background-color: #fff;
        border: none;
        padding: 10px;
        padding-left: 50px;
        font-weight: 500;
    }
    
    #single-job-view-directionsRenderer-panel-view table.adp-placemark {
        border: none;
        position: relative;
    }
    
    #single-job-view-directionsRenderer-panel-view table.adp-placemark td.adp-text:after {
        content: ' ';
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 5;
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
    }
    
    #single-job-view-directionsRenderer-panel-view table.adp-placemark td.adp-text[jstcache='54']:after {
        background-image: url(../../img/trac360/office.png);
    }
    
    #single-job-view-directionsRenderer-panel-view table.adp-placemark td.adp-text[jstcache='68']:after {
        background-image: url(../../img/trac360/home_address.png);
    }
    
    #single-job-view-directionsRenderer-panel-view .adp-legal {
        color: #fff;
    }
    
    #livejobs-collapse-panel .livejobs-filter-section {
        padding: 10px;
        padding-top: 23px;
    }
    
    #livejobs-collapse-panel #livejob-long-id {
        height: 30px;
        font-size: 12px;
    }
    
    @media only screen and (max-width: 1440px) {
        .jobs-collapse-btn {
            font-size: 12px;
        }
    }
    
    .trac360-live-jobs-modal {
        position: fixed;
        top: 0;
        background-color: #ffffff96;
        width: 100%;
        height: 100vh;
        z-index: 20;
        display: none;
    }
    
    .trac360-live-jobs-modal .trac360-close-btn {
        cursor: pointer;
        width: 100px;
        position: absolute;
        right: 0;
        z-index: 1;
        opacity: 0.3;
        transition: 0.3s;
    }
    
    .trac360-live-jobs-modal .trac360-close-btn:hover {
        opacity: 1;
    }
    
    .trac360-live-jobs-modal .trac360-live-jobs-content {
        width: 100%;
        background-color: #ffffff;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90%;
    }
    
    .trac360-live-jobs-modal .trac360-live-jobs-content #live-map {
        width: 100%;
        height: 100%;
        position: absolute!important;
    }
    
    #live-map .gm-style>div:nth-child(10) {
        display: none;
    }
    
    .trac360-live-jobs-modal .trac360-live-jobs-content .employee-name {
        background-color: #616161;
        text-align: center;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .route-details-setion .route-details-table>tbody>tr>td.connected-icon,
    .office-customer .route-details-table>tbody>tr>td.connected-icon {
        width: 50px;
        text-align: center;
    }
    
    table.route-details-table,
    table.office-customer {
        width: 100%;
    }
    
    .route-details-setion .route-details-table .first-info .connected-icon>div:after,
    .route-details-setion .route-details-table .middle-info .connected-icon>div:after,
    .office-customer .route-details-table .first-info .connected-icon>div:after,
    .office-customer .route-details-table .middle-info .connected-icon>div:after {
        content: ' ';
        width: 3px;
        height: 40px;
        background-color: #2096F3;
        position: absolute;
        z-index: 1;
        bottom: -40px;
        left: 45%;
    }
    
    .route-details-table .address,
    .office-customer .address {
        font-size: 12px;
        font-weight: 600;
        color: #565656;
    }
    
    .route-details-setion .route-details-table>tbody>tr>td,
    .office-customer .route-details-table>tbody>tr>td {
        padding-left: 20px;
        height: 70px;
    }
    
    .route-details-setion .route-details-table>tbody>tr>td.no-data,
    .office-customer .route-details-table>tbody>tr>td.no-data {
        text-align: center;
        font-size: 12px;
        color: #565656;
    }
    
    .route-details-table .date-time,
    .office-customer .date-time {
        font-size: 9px;
        color: #565656;
    }
    
    .route-details-setion .route-details-table .connected-icon>div,
    .office-customer .route-details-table .connected-icon>div {
        color: #ffffff;
        background-color: #2096F3;
        border-radius: 50%;
        padding: 5px;
        position: relative;
    }
    
    .route-details-setion .route-details-table tr:hover .address,
    .office-customer .route-details-table tr:hover .address {
        font-weight: bold;
    }
    
    .route-details-setion .route-details-table tr,
    .office-customer .route-details-table tr {
        cursor: pointer;
    }
    
    .route-details-setion .route-details-table .milage,
    .office-customer .route-details-table .milage {
        font-size: 12px;
        color: #5B5B5B;
        position: absolute;
        right: 20px;
    }
    
    .estimated-calculation .est {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        padding: 17px 0px;
        text-align: center;
        color: #f7f7f7;
        background-color: #2196F3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: inherit;
    }
    
    .estimated-calculation .est .title {
        font-size: 12px;
    }
    
    .estimated-calculation .est .value {
        font-size: 15px;
        font-weight: bold;
    }
    
    #single-job-view-directionsRenderer-panel .estimated-calculation {
        padding-top: 10px;
    }
    
    #single-job-view-directionsRenderer-panel .estimated-calculation .est {
        color: #565656;
        background-color: #f7f7f7;
    }
    
    #from_external_html {
        display: none;
    }