div#management_reports_modal {
    display: none;
    background-color: #F4F5F8;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    height: 100%;
    color: #393A3D;
}

div#management_reports_modal .the-modal-body {
    height: 100%;
}

div#management_reports_modal .the-modal-body .the-header {
    padding: 10px 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #D8D8D7;
}

div#management_reports_modal .the-modal-body .the-header .title h1 {
    font-size: 30px;
    font-weight: lighter;
}

div#management_reports_modal .the-modal-body .the-header .icons {
    display: flex;
    font-size: 30px;
    text-align: right;
    justify-content: flex-end;
    padding-right: 20px;
}

div#management_reports_modal .the-modal-body .the-header .icons div {
    padding: 0 10px;
}

div#management_reports_modal .the-modal-body .the-header .icons div.close-modal {
    cursor: pointer;
}

div#management_reports_modal .the-modal-body .the-header .form-group {
    width: 300px;
    padding-top: 20px;
    margin-bottom: 10px!important;
}

div#management_reports_modal .the-modal-body .the-header .form-group .label {
    font-weight: 600;
}

div#management_reports_modal .the-modal-body .the-header .form-group.report-period {
    float: right;
}

#management_reports_modal select,
#management_reports_modal input[type="text"],
#management_reports_modal input[type="email"],
#management_reports_modal input[type="number"],
#management_reports_modal input[type="date"],
#management_reports_modal textarea {
    font-size: 12px;
    font-weight: lighter;
    padding: 8px;
    height: auto;
    border: solid 1px #BABEC5!important;
    border-radius: 2px;
    width: 100%;
    resize: none;
    color: #333333;
}

#management_reports_modal select {
    display: block;
    visibility: visible;
    clip: auto;
    position: inherit;
    height: auto;
    padding: 8px;
    width: 100%;
}

#management_reports_modal input:focus,
#management_reports_modal select:focus,
#management_reports_modal textarea:focus {
    border-color: rgba(126, 239, 104, 0.8)!important;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset, 0 0 8px rgb(126 239 104 / 60%);
    outline: 0 none;
    box-shadow: none;
    border: solid 1px #80CF03!important;
    font-style: normal;
}

#management_reports_modal .modal-footer-check button.cancel-button {
    background-color: transparent;
    background: transparent;
    font-size: 13px;
    color: #ffffff;
    border: solid 1px #6A6C71;
    padding: 5px 25px;
    height: auto;
    border-radius: 15px;
    font-weight: 700;
}

#management_reports_modal .modal-footer-check .middle-links {
    width: 50%;
    float: left;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#management_reports_modal .modal-footer-check .middle-links {
    position: relative;
}

#management_reports_modal .pint-pries-option-section {
    position: absolute;
    z-index: 1;
    top: -100px;
    background: #ffff;
    right: 0;
    color: #000;
    text-align: left;
    padding: 10px 0;
    border: solid 1px #D4D7DC;
    border-radius: 2px;
    display: none;
}

#management_reports_modal .pint-pries-option-section ul li {
    padding: 10px;
}

#management_reports_modal .pint-pries-option-section ul li a {
    color: #000;
}

#management_reports_modal .middle-links a {
    color: #ffffff;
    font-size: 12px;
}

#management_reports_modal .modal-footer-check {
    padding: 10px 20px;
    margin-top: 0px;
}

#management_reports_modal .modal-footer-check .pint-pries-option-section .anchor-holder {
    position: absolute;
    z-index: 1;
    width: 20px;
    bottom: -13px;
    left: 50px;
}

#management_reports_modal .modal-footer-check .middle-links.end {
    text-align: left;
    border-left: solid 1px #6A6B70;
}

#management_reports_modal .modal-footer-check .middle-links {
    width: 50%;
    float: left;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

#management_reports_modal .modal-footer-check button[data-submit-type='save-send'],
#management_reports_modal .modal-footer-check button[data-toggle='dropdown'],
#management_reports_modal .modal-footer .send_sales_receipt_section button[data-toggle='dropdown'],
#management_reports_modal .modal-footer button[data-submit-type='send-new'] {
    background-image: none;
    background-color: #2CA01C;
    color: #FFFFFF;
    box-shadow: none;
    border-right: none;
    font-size: 13px;
    border-radius: 28px 0 0 28px;
    padding: 5px 15px;
    height: auto;
    border: solid 1px #2CA01C;
    margin-right: -5px;
}

#management_reports_modal .modal-footer-check .submit-submenu>li button,
#management_reports_modal .modal-footer .submit-submenu>li button {
    color: #333333;
}

#management_reports_modal .modal-footer-check button.cancel-button:hover {
    background-color: #2A2B2D;
}

#management_reports_modal .pint-pries-option-section ul li:hover,
#management_reports_modal .pint-pries-option-section ul li:hover a {
    background-color: #299A1C;
    color: #fff;
}

#management_reports_modal .modal-footer-check .middle-links:hover {
    text-shadow: 0 10px 20px #fff;
}

#management_reports_modal .modal-footer-check .submit-submenu>li:hover,
#management_reports_modal .modal-footer .submit-submenu>li:hover {
    background-color: #ECEDF1;
    color: #008A00;
}

#management_reports_modal .modal-footer-check button[data-submit-type='save-send']:hover,
#management_reports_modal .modal-footer-check button[data-toggle='dropdown']:hover,
#management_reports_modal .modal-footer .send_sales_receipt_section button[data-toggle='dropdown']:hover,
#management_reports_modal .modal-footer button[data-submit-type='send-new']:hover {
    background-image: none;
    background-color: #108000;
}

#management_reports_modal .the-content {
    height: calc(100% - 225px);
    background: #F4F5F8;
    overflow: scroll;
    overflow-x: hidden;
}

#management_reports_modal .the-content .report-pages {
    height: calc(100vh - 205px);
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
}

#management_reports_modal .the-content .report-pages ul li:hover,
#management_reports_modal .the-content .report-pages ul li.active {
    background: #D4D7DC;
}

#management_reports_modal .the-content .report-pages ul li {
    cursor: pointer;
    padding: 10px;
}

#management_reports_modal .the-content .report-pages ul li .mr_icon {
    width: 82px;
    height: 112px;
    margin: 15px 42px 8px;
}

#management_reports_modal .the-content .report-pages ul li label {
    font-size: 13px;
}

#management_reports_modal .the-content .report-pages ul li .mr_icon.icon2 {
    background-position: 0 -112px;
}

#management_reports_modal .the-content .report-pages ul li .mr_icon.icon3 {
    background-position: 0 -224px;
    width: 89px;
    height: 119px;
}

#management_reports_modal .the-content .report-pages ul li .mr_icon.icon4 {
    background-position: 0 -343px;
    width: 89px;
    height: 119px;
}

#management_reports_modal .the-content .report-pages ul li .mr_icon.icon5 {
    background-position: 0 -462px;
}

#management_reports_modal #cover-page-section,
#management_reports_modal #preliminary-page,
#management_reports_modal #table-of-contents,
#management_reports_modal #preliminary-page,
#management_reports_modal #reports,
#management_reports_modal #end-notes {
    padding: 20px 10px;
}

#management_reports_modal #cover-page-section .page-styles-img {
    display: flex;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style,
#management_reports_modal #cover-page-section .page-styles-img .logo-style {
    padding: 5px;
    border: solid 1px #CCCCCC;
    margin-right: 30px;
    position: relative;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .style-icon,
#management_reports_modal #cover-page-section .page-styles-img .logo-style .style-icon {
    height: 80px;
    width: 80px;
}

#management_reports_modal #cover-page-section .page-styles-img .logo-style .style-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .dropdown-icon,
#management_reports_modal #cover-page-section .page-styles-img .logo-style .dropdown-icon {
    padding: 0px 8px;
    border: solid 1px #ccc;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #fff;
    cursor: pointer;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .styles-option-section,
#management_reports_modal #cover-page-section .page-styles-img .logo-style .styles-option-section {
    border: solid 1px #ccc;
    background: #fff;
    position: absolute;
    width: auto;
    z-index: 1;
    top: calc(100% + 5px);
    padding: 10px;
    display: none;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .styles-option-section .section-row {
    display: flex;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .styles-option-section .style-option {
    cursor: pointer;
    margin: 0 10px 15px 15px;
    height: 110px;
    width: 80px;
    display: inline-block;
    border: 1px solid #CCCCCC;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .styles-option-section .style-option:hover {
    border: 1px solid #1F497D;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .styles-option-section .style-option.option-3 {
    background-position: 0 -904px;
}

#management_reports_modal #cover-page-section .page-styles-img .logo-style .styles-option-section .style-option {
    width: 100%;
    background-color: #F4F5F8;
    padding: 10px;
}

#management_reports_modal #cover-page-section .cover-page-fields {
    margin-top: 20px;
}

#management_reports_modal #cover-page-section .cover-page-fields .form-group {
    margin-bottom: 20px!important;
}

#management_reports_modal #cover-page-section .cover-page-fields .form-group .label {
    font-size: 12px;
}

#management_reports_modal #cover-page-section .cover-page-fields .form-group label.info {
    color: #8E9095;
    font-size: 10px;
}

#management_reports_modal #table-of-contents .page-content .page-content-preview {
    border: solid 1px #CCCCCC;
    padding: 30px;
}

#management_reports_modal #table-of-contents .page-content .page-content-preview .content-title {
    font-size: 16px;
    font-weight: 600;
}

#management_reports_modal #table-of-contents .page-content .page-content-preview .norm {
    font-size: 12px;
}

#management_reports_modal #table-of-contents .page-content .page-content-preview .divider {
    border: solid 1px #404040;
    margin-bottom: 20px;
    width: 100%;
}

#management_reports_modal .form-check label {
    font-size: 12px;
}

#management_reports_modal #table-of-contents input[name="page-title"],
#management_reports_modal #preliminary-page input[name="preliminary-page-title[]"] {
    width: 400px;
}

#management_reports_modal #preliminary-page a.add-new-page {
    color: #0277C5;
}

#management_reports_modal #preliminary-page a.add-new-page:hover {
    text-decoration: underline;
}

#management_reports_modal #preliminary-page .delete-page-btn:hover {
    opacity: 0.7;
}

#management_reports_modal #preliminary-page .delete-page-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #393B3E;
}

#management_reports_modal #preliminary-page .page {
    border-bottom: solid 1px #B5BCC7;
    padding: 10px 0;
}

#management_reports_modal #reports .report-section .report-edit-btn,
#management_reports_modal #reports .report-section .report-delete-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #393B3E;
}

#management_reports_modal #reports .report-section .report-edit-btn:hover,
#management_reports_modal #reports .report-section .report-delete-btn:hover {
    opacity: 0.7;
}

#management_reports_modal #reports .report-section {
    padding: 30px;
    border-top: solid 1px #D8D8D7;
    border-bottom: solid 1px #D8D8D7;
}

#management_reports_modal #reports .report-section h3.report-title {
    font-size: 18px;
    padding: 0;
}

#management_reports_modal #reports .report-section .closed-content-view {
    display: block;
}

#management_reports_modal #reports .report-section .content-collapse {
    display: none;
}

#management_reports_modal #reports .report-section:hover {
    background-color: #F3F8FE;
    cursor: pointer;
}

#management_reports_modal #reports .report-section .content-collapse .form-group .info {
    font-size: 10px;
    color: #A6A9AF;
}

#management_reports_modal #reports .report-section .content-collapse .form-group select[name="report_type[]"] {
    width: 200px;
}

#management_reports_modal #reports .report-section .content-collapse .form-group input[name="report_title[]"] {
    width: 300px;
}

#management_reports_modal #reports .report-section .content-collapse .form-group select[name="report_period[]"] {
    width: 180px;
}

#management_reports_modal #reports .add-report-btn {
    color: #0277C5;
}

#management_reports_modal #reports .add-report-btn:hover {
    text-decoration: underline;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .style-icon.icon-3 {
    background-position: 0 -904px;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .style-icon.icon-2 {
    background-position: 0 -684px;
}

#management_reports_modal #cover-page-section .page-styles-img .cover-style .style-icon.icon-4 {
    background-position: 0 -794px;
}