#modal-form .modal table {
    background: #f4f5f8;
}

/* Bank Deposit Modal */
.modal textarea[name="memo"], .modal textarea[name="description"] {
    height: auto !important;
}

#depositModal div.funds-table-container div.funds-table-footer button.btn,
#journalEntryModal div.journal-table-container div.journal-table-footer button.btn,
#inventoryModal div.inventory-table-container div.inventory-table-footer button.btn,
#weeklyTimesheetModal div.timesheet-table-container div.timesheet-table-footer button.btn {
    border-radius: 5px;
    border-color: #6c757d !important;
    padding: 5px 15px;
    height: auto;
}

#depositModal div.funds-table-container div.funds-table-footer button.btn:focus,
#journalEntryModal div.journal-table-container div.journal-table-footer button.btn:focus,
#inventoryModal div.inventory-table-container div.inventory-table-footer button.btn:focus,
#weeklyTimesheetModal div.timesheet-table-container div.timesheet-table-footer button.btn:focus {
    color: #6c757d !important;
}

#depositModal textarea[name="cash_back_memo"] {
    height: 46px !important;
}

div.attachments button {
    border: none;
    height:auto;
    background: none;
    margin: 0 10px;
}

div.attachments div.attachments-list div.attachments-container {
    padding: 14px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}

div.attachments div.attachments-list div.attachments-container:hover {
    border: 1px dashed #dee2e6 !important;
}

div.attachments div.attachments-list div.attachments-container div.attachments-container-label {
    font-style: italic;
    padding: 5px;
}

/* Transfer Modal */
#transferModal h3 {
    height: 46px;
    margin: 0;
}

/* Statements Modal */
#statementModal #recipientsTab {
    display: inline-flex;
    border-radius: 20px;
    border: 1px solid #6b6c72;
}

#statementModal #recipientsTab li:first-child {
    border-right: 1px solid #6b6c72;
}

#statementModal #recipientsTab li:first-child a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#statementModal #recipientsTab li:nth-child(2) a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#statementModal #recipientsTab li a.active {
    border-bottom: none !important;
    font-weight: 900;
    background-color: #fff !important;
}

#statementModal #recipientsTab li a:hover,
#statementModal #recipientsTab li a.active:hover {
    border: none;
    font-weight: 900;
    color: #fff;
    background-color: #6b6c72 !important;
    border-bottom: 1px solid #6b6c72 !important;
}

#statementModal .apply-button {
    border: 1px solid #6b6c72 !important;
}

#statementModal .apply-button:hover {
    background-color: white;
    border: 2px solid #6b6c72 !important;
    color: inherit;
}

#statementModal .apply-button:focus {
    color: inherit;
}

/* Weekly Timesheet Modal */
#weeklyTimesheetModal div.timesheet-table table select {
    margin-bottom: 5px !important;
}

#weeklyTimesheetModal div.timesheet-table table#timesheet-table input.day-input {
    font-size: 14px !important;
}

/* Tags Modal */
div.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 30%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

div.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0 !important;
}

div.modal.right .modal-body {
    padding: 0 30px 80px;
}

div.modal.right.fade .modal-dialog {
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

div.modal.right.fade.in .modal-dialog {
    right: 0;
}

div#tags-modal button.btn-outline-secondary {
    border-color: #6c757d !important;
}

/* Payroll Modal */
.divider {
    height: 100%;
    width: 1px;
    border-left: 1px solid #dee2e6 !important;
}

div#payrollModal .graph-color {
    height: 45px;
    width: 1px;
    border: 2px solid black;
}