.full-screen-modal .modal {
    padding: 0 !important; // override inline padding-right added from js
}
.full-screen-modal .modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}
.full-screen-modal .modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
    background-color: #f4f5f8;
}
.full-screen-modal .modal .modal-body {
    overflow-y: auto;
}

.full-screen-modal .modal-container{
    margin: auto;
    width: 50%;
    border:1px solid gainsboro;
    padding: 10px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.banks-img{
    height: 84px;
    width: 105px;
    margin: 20px;
}
.modal-container .centered-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.modal-container .centered-container img{
    width: 120px;
    height: 130px;
}
.box-bank-container{
    padding: 20px;
    min-height: 500px;
    width: 550px;
    margin-bottom: 72px;
}
#fileUpload .modal-footer-upload-file{
    padding: 8px 15px;
    background: #393A3D;
    height: 56px;
    text-align: left;
}
.centered-modal .take-a-tour-box .tat-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.centered-modal .take-a-tour-box{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 200px;
    width: 280px;
    border: 1px solid #d4d7dc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    margin-bottom: 30px;
}
.centered-modal .modal-dialog .modal-content{
    min-width: 662px;
    border: 1px solid #d4d7dc;
    border-radius: 5px;
    background-color: #fff
}
.centered-modal .modal-dialog .modal-content .modal-body .path{
    box-sizing: border-box;
    height: 1px;
    width: 580px;
    border: .5px solid #d4d7dc;
    margin-bottom: 20px;
}
.centered-modal .modal-dialog .modal-content .modal-body .help-link-container{
    margin: 20px 0 40px;
}
.centered-modal .modal-dialog .modal-content .modal-body .more-info{
    color: #393a3d;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .29px;
    line-height: 20px;
    padding: 5px 0;
}
.centered-modal .modal-dialog .modal-content .modal-body .helpLink{
    display: block;
    margin: 3px 0;
    height: 20px;
    color: #0077c5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

/*Print Checks*/
#print-checks-modal .modal-title{
    font-size: 2.4rem;
    line-height: 50px;
    color: #393A3D;
    padding-left: 15px;
    vertical-align: middle;
    font-family: "Avenir Next forINTUIT", Avenir Next, Futura, sans-serif;
}
#print-checks-modal .modal-header{
    border-bottom: 0;
}
#print-checks-modal .modal-footer-print{
    padding: 10px;
    background: #393A3D;
}
#print-checks-modal .footer-links{
    display: inline-block;
    height: 25px;
    padding: 0 15px;
    line-height: 50px;
    cursor: pointer;
    color: #FFFFFF;
    background: transparent;
    border: 0 none;
    box-shadow: none;
}
#print-checks-modal .action-bar{
    height: 60px;
    position: relative;
    margin-bottom: 5px;
}
#print-checks-modal .batchAction{
    margin-left: 12px;
    display: inline-block;
}
#print-checks-modal .icon-arrow{
    color: #BABEC5;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 30px;
}
#print-checks-modal .remove-button{
    border-radius: 36px;
    border: 2px solid #393a3d;
    color: #393a3d;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
}
#print-checks-modal .select-sort{
    display: inline-block;
    border: 0;
    padding: 0;
    vertical-align: middle;
    margin-left: 20px;
}
#print-checks-modal .labeled-input{
    display: inline-block;
    margin-left: 20px;
    border: 0;
    padding: 0;
}
#print-checks-modal .labeled-input label{
    font-size: 14px;
    font-weight: 600;
    color: #6B6C72;
}
#print-checks-modal .print-settings{
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
}
#print-checks-modal .print-settings a i{
    color: #6B6C72;
    display: inline-block;
}
#print-checks-modal .modal-footer-print .cancel-button{
    border-radius: 36px;
    background: transparent;
    border:1px solid #6B6C72;
}
#print-checks-modal .modal-footer-print .print-button{
    float: right;
    border-radius: 36px
}
/*Pay Bills*/
#pay-bills-modal .modal-title{
    font-size: 2.4rem;
    line-height: 50px;
    color: #393A3D;
    padding-left: 15px;
    vertical-align: middle;
    font-family: "Avenir Next forINTUIT", Avenir Next, Futura, sans-serif;
}
#pay-bills-modal .modal-header{
    border-bottom: 0;
}
#pay-bills-modal .modal-footer-print{
    padding: 10px;
    background: #393A3D;
}
#pay-bills-modal .remove-button{
    border-radius: 36px;
}
#pay-bills-modal .modal-footer-print .cancel-button{
    border-radius: 36px;
    background: transparent;
    border:1px solid #6B6C72;
}
#pay-bills-modal .modal-footer-print .print-button{
    float: right;
    border-radius: 36px
}
#pay-bills-modal .modal-body{
    background: #F4F5F8;
}
#pay-bills-modal .modal-body label{
    font-weight: bolder;
}
#pay-bills-modal .table-container{
    background: #ffffff;
    padding-top: 15px;
}
#pay-bills-modal .filter-container{
    height: 60px;
    position: relative;
    margin-bottom: 5px;
}
#pay-bills-modal .filter-container button{
    border-radius: 5px;
    border: 1px solid black;
}
#pay-bills-modal .filter-container ul li{
    padding: 20px;
    height: 300px;
}
/*Right side modal*/

.modal-right-side .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    min-width: 520px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.modal-right-side .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
.modal-right-side .modal.right .modal-body {
    padding: 0 30px 80px;
    font-family: "Avenir Next LT Pro", "Avenir Next", Futura, sans-serif;
}

.modal-right-side .modal.right.fade .modal-dialog {
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal-right-side .modal.right.fade.in .modal-dialog {
    right: 0;
}
.modal-right-side .modal-content {
    border-radius: 0;
    border: none;
}
.modal-right-side .modal-header {
    border-bottom: 0;
    background-color: #FAFAFA;
    margin-bottom: 0;
}
.modal-right-side .modal-body .subheader{
    font-size: 14px;
    color: #333333;
    margin-bottom: 22px;
}
.modal-right-side .modal-body .form-group{
    margin-bottom: 17px;
}
.modal-right-side .modal-body .form-group label{
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 5px;
}
.modal-right-side .modal-body .form-group input,select{
    border-radius: 3px;
}
.modal-right-side .modal-body .form-group .tab-select{
    display: inline-block;
    position: relative;
}
.modal-right-side .modal-body .form-group .tab-select select{
    max-width: 250px;
}
.modal-right-side .modal-body .form-group .selectBox {
    position: relative;
}
.modal-right-side .modal-body .form-group .selectBox select {
    width: 100%;
}
.modal-right-side .modal-body .form-group textarea {
    color: #363636;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid #e0e0e0;
    box-shadow: none;
}

.modal-right-side .modal-body .form-group .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-right-side .modal-body .form-group #checkboxes {
    display: none;
    border: 1px #dadada solid;
    z-index: 200;
    position: absolute;
}

.modal-right-side .modal-body .form-group #checkboxes label {
    display: block;
}

.modal-right-side .modal-body .form-group #checkboxes label:hover {
    background-color: #afafaf;
}
.modal-right-side .modal-body .form-group .inline-select{
    position: relative;
    display: inline-block;
    max-width: 150px;
}
.modal-right-side .modal-body .form-group .action-section{
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}
.modal-right-side .modal-body .form-group .action-section .form-control{
    max-width: 220px;
}
.modal-right-side .modal-body .form-group .action-section .action-label{
    margin-right: 30px;
    width: 100px;
}
.modal-right-side .modal-body .form-group .action-section .text-dropdown{
    color: #363636;
    font-size: 16px;
    border-radius: 2px;
    height: 46px;
    border: 2px solid #e0e0e0;
    box-shadow: none;
}
.modal-right-side .modal-body .form-group .custom-control-label {
    font-size: 14px;
    color: #333333;
    font-weight: lighter;
}
.modal-right-side .modal-footer .btn {
    border-radius: 36px;
}
.modal-right-side .modal-body .form-group .action-section .add-split-container{
    padding: 10px;
    display: none;
}
.modal-right-side .modal-body .form-group .action-section .add-split-container .split-content{
    display: inline-block;
    position: relative;
}
.modal-right-side .modal-body .form-group .action-section .add-split-container .split-content .split-category-text{
    display: block;
    font-size: small;
}
#deleteCondition{
    float: right;
    padding-top: 15px;
    margin-left: 5px;
}
#addCondition{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}
/*Process Steps*/
#importRules .modal-body .progressSection{
    background-color: #f9fafb;
    border-bottom: 1px solid #e3eaf3;
    background-image: -webkit-linear-gradient(bottom, #f6f8fb 0%, #f9fafb 100%);
    background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);
}
#importRules .modal-body .uploadList .step-title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
}
#importRules .modal-body .uploadList .sub-title{
    margin-top: 15px;
    margin-bottom: 45px;
    font-weight: lighter;
    font-size: 14px;
}
#importRules .modal-body .uploadList .instruction{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}
#importRules .modal-footer-importRules{
    padding: 8px 15px;
    background: #393A3D;
    height: 56px;
    text-align: left;
}
#importRules .modal-footer-importRules .btn{
    border-radius: 36px;
    color: #FFFFFF;
}
#importRules .modal-footer-importRules .btn-default{
    background: transparent;
    border:1px solid #6B6C72;
}

#receiptModal .modal-header{
    height: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
    background: #393a3d;
    padding: 10px;
    border-radius: 0;
}
#receiptModal .modal-header h2{
    margin-top: 0;
    padding-left: 10px;
    font-family: "Avenir Next forINTUIT",Avenir,sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
#receiptModal .modal-header .fa{
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}
#receiptModal .modal-header{
    font-family: "Avenir Next forINTUIT",Avenir,sans-serif;
}
#receiptModal .modal-body{
    font-family: "Avenir Next forINTUIT",Avenir,sans-serif!important;
}
#receiptModal .modal-body .viewer-backdrop-container{
    width: 532px;
    height: 585px;
    margin: 0 auto;
}
#receiptModal .modal-body .viewer-backdrop-container .viewer-backdrop{
    width: 532px;
    height: 585px;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
    padding-top: 50px;
}
#receiptModal .modal-body .viewer-backdrop-container .viewer-backdrop img{
    min-width: 350px;
    min-height: 250px;
    max-width: 500px;
    max-height: 550px;
    z-index: 1;
    vertical-align: center;
    display: block;
    margin: auto;
    overflow: auto;
}
#receiptModal .modal-body .receiptDetailsContainer {
    max-width: 80%;
}
#receiptModal .modal-body .step-header {
    font-weight: 500;
    font-size: large;
}
#receiptModal .modal-body .receiptDetailsContainer label{
    font-weight: bolder;
}
#receiptModal .modal-body .form-element {
    margin-top: 20px;
}
.select-text-dp{
    height: 46px;
    box-shadow: none;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    color: #363636;
    font-size: 16px;
    padding-left: 10px;
    display: block;
    width: 100%;
}
#receiptModal .modal-body .memo-textarea{
    box-shadow: none;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    width: 100%;
    padding-left: 10px;
    color: #363636;
}
#receiptModal .modal-footer-uploadedReceipt{
    padding: 10px;
}
#receiptModal .modal-footer-uploadedReceipt .btn-leftSide{
    background-color: transparent;
    border:3px solid black;
    border-radius: 36px;
    font-weight: bolder;
    color: black;
    float: left;
}
#receiptModal .modal-footer-uploadedReceipt .btn-rightSide{
    border-radius: 36px;
    font-weight: bolder;
    float: right;
}
/*Check Expenses modal*/
#edit-expensesCheck .modal-title{
    font-size: 2.4rem;
    line-height: 50px;
    color: #393A3D;
    padding-left: 15px;
    vertical-align: middle;
    font-family: "Avenir Next forINTUIT", Avenir Next, Futura, sans-serif;
}
#edit-expensesCheck .modal-header{
    border-bottom: 0;
}
#edit-expensesCheck .modal-footer-check{
    padding: 10px;
    background: #393A3D;
}
#edit-expensesCheck .remove-button{
    border-radius: 36px;
}
#edit-expensesCheck .modal-footer-check .cancel-button{
    border-radius: 36px;
    background: transparent;
    border:1px solid #6B6C72;
}
#edit-expensesCheck label{
    font-weight: 700;
}
#edit-expensesCheck textarea{
    box-shadow: none;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    width: 100%;
    padding-left: 10px;
    color: #363636;
}
#edit-expensesCheck .table-container{
    background: #ffffff;
    padding-top: 15px;
}
#edit-expensesCheck .add-remove-line{
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#edit-expensesCheck .modal-footer-check  .middle-links{
    display: inline-block;
    padding: 12px;
    font-size: 17px;
    font-weight: 600;
    border-right: 1px solid whitesmoke;
}
#edit-expensesCheck .modal-footer-check  .middle-links a{
    color: #ffffff;
}
#edit-expensesCheck .modal-footer-check  .middle-links a:hover{
    text-decoration: underline;
    color: #ffffff !important;;
    -webkit-box-shadow:  0 10px 6px -6px #afafaf;
    -moz-box-shadow:  0 10px 6px -6px #afafaf;
    box-shadow:  0 10px 6px -6px #afafaf;
}
#edit-expensesCheck .modal-footer-check  .end{
    border-right: none;
}
/*Form inline*/
.form-inline-group{
    width: 100%;
}
.form-inline-group label{
    font-weight: 700;
    float: right;
    margin-right: 10px;
}
.form-inline-group .form-inline{
    color: #363636;
    font-size: 16px;
    border-radius: 2px;
    height: 46px;
    border: 2px solid #e0e0e0;
    box-shadow: none;
    display: inline-block;
    width: 100%;
}
.form-inline-group tr td{
    padding-bottom: 12px;
}
.form-inline-group span{
    font-weight: 700;
}
.form-inline-group textarea{
    color: #363636;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid #e0e0e0;
    box-shadow: none;
    width: 100%;
}
#timeActivity-modal .modal-footer-activity{
    padding: 10px;
    background: #393A3D;
}
.btn-transparent{
    color: whitesmoke;
    border-radius: 36px;
    background: transparent;
    border:1px solid #6B6C72;
}
#new-vendor-modal .modal-dialog{
    max-width: 1060px;
}
#new-vendor-modal .modal-dialog .modal-body{
    overflow: scroll;
    max-height: 480px;
}
#new-vendor-modal .modal-dialog .modal-footer-vendor{
    padding: 10px;
}
#new-vendor-modal .modal-dialog .modal-footer-vendor button{
    border-radius: 36px;
}
#new-vendor-modal .form-ib-group{
    display: block;
    width: 100%;
}
#new-vendor-modal .form-ib-group .form-ib{
    display: inline-block;
    position: relative;
    width: 100%;
}
#new-vendor-modal .form-ib-group .form-ib label{
    font-weight: 600;
}
#new-vendor-modal .form-ib-group .form-ib .form-textarea{
    color: #363636;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid #e0e0e0;
    box-shadow: none;
    display: block;
    width: 100%;
    resize: none;
}
#new-vendor-modal .form-ib-group .form-ib .address-form{
    width: 49%;
    display: inline-block;
    margin-top: 8px;
}
.max-width{
    min-width: 911px;
}