#modal-container .modal .modal-header .dropdown-header {
    font-size: 1.25rem !important;
}

#modal-container .modal .modal-header .recent-transactions-button {
    color: #8b8b8b;
}

#modal-container .modal .modal-header .recent-transactions-table tbody tr td {
    padding: 0.5rem;
    font-size: 13px;
}

#modal-container .modal .attachments-container span.select2.select2-container, #existing-attachments-modal .attachments-container span.select2.select2-container {
    width: 50% !important;
}

span.select2-selection.select2-selection--single {
    min-width: unset !important;
}

#modal-container .btn-transparent:hover {
    background: #d4d7dc !important;
    border-color: #6B6C72 !important;
}
#modal-container .btn-transparent {
    color: #6B6C72 !important;
}
#modal-container .btn-transparent:focus {
    border-color: #6B6C72 !important;
}

/* Bank Deposit Modal */
.modal textarea[name="memo"], .modal textarea[name="description"] {
    height: auto !important;
}

#modal-container div.modal div.table-footer button.btn {
    border-radius: 5px;
    border-color: #6c757d !important;
    padding: 5px 15px;
    height: auto;
}

#modal-container div.modal div.table-footer button.btn:focus {
    color: #6c757d !important;
}

#depositModal textarea[name="cash_back_memo"] {
    height: 46px !important;
}

/* Statements Modal */
#statementModal #recipientsTab {
    display: inline-flex;
    border-radius: 20px;
    border: 1px solid #6b6c72;
    width: auto !important;
}

#statementModal #recipientsTab li:first-child {
    border-right: 1px solid #6b6c72;
}

#statementModal #recipientsTab li:first-child a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#statementModal #recipientsTab li:nth-child(2) a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#statementModal #recipientsTab li a.active {
    border-bottom: none !important;
    font-weight: 900;
    background-color: transparent !important;
    color: #495057;
}

#statementModal #recipientsTab li a:hover,
#statementModal #recipientsTab li a.active:hover {
    border: none;
    font-weight: 900;
    color: #fff;
    background-color: #6b6c72 !important;
    border-bottom: 1px solid #6b6c72 !important;
}

#statementModal .apply-button {
    border: 1px solid #6b6c72 !important;
}

#statementModal .apply-button:hover {
    background-color: white;
    border: 2px solid #6b6c72 !important;
    color: inherit;
}

#statementModal .apply-button:focus {
    color: inherit;
}

/* Weekly Timesheet Modal */
#weeklyTimesheetModal div.timesheet-table table select {
    margin-bottom: 5px !important;
}

#weeklyTimesheetModal div.timesheet-table table#timesheet-table input.day-input {
    font-size: 14px !important;
}

/* Tags Modal */
div.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 30%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

div.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0 !important;
}

div.modal.right:not(#existing-attachments-modal) .modal-body {
    padding: 0 30px 80px;
}

#existing-attachments-modal .modal-body {
    padding: 30px 40px !important;
}

#existing-attachments-modal button[data-dismiss="modal"] {
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #e3e3e3;
    border-radius: 0;
}

#existing-attachments-modal button[data-dismiss="modal"]:hover {
    color: unset;
}

div.modal.right.fade .modal-dialog {
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

div.modal.right.fade.in .modal-dialog {
    right: 0;
}

div#tags-modal button.btn-outline-secondary {
    border-color: #6c757d !important;
}

/* Payroll Modal */
.divider {
    height: 100%;
    width: 1px;
    border-left: 1px solid #dee2e6 !important;
}

div#payrollModal .graph-color, div#commission-payroll-modal .graph-color, div#bonus-payroll-modal .graph-color {
    height: 45px;
    width: 1px;
    border: 2px solid black;
}

.full-screen-modal .modal .btn[data-toggle="collapse"]:hover, .full-screen-modal .modal .btn[data-toggle="collapse"]:focus {
    color: unset;
}

/* Single Time Activity Modal */
#singleTimeModal .modal-header button#time-activity-settings-button, #weeklyTimesheetModal .modal-header button#time-activity-settings-button {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0.5;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

#singleTimeModal .modal-header button#time-activity-settings-button:hover, #weeklyTimesheetModal .modal-header button#time-activity-settings-button:hover {
    opacity: .75;
}

#modal-container .modal:not(#item-modal) .action-bar ul li a:after {
    width: 0;
}

#modal-container .modal:not(#item-modal) .action-bar ul li a {
    font-size: 20px;
}

#modal-container .modal:not(#item-modal) .action-bar ul li {
    margin-right: 5px;
}

#modal-container #add-payee-modal {
    display: flex !important;
}

#modal-container #add-payee-modal .modal-dialog {
    width: 25%;
    height: 40%;
    margin: auto;
}

#item-modal #types-table .type-icon {
    height: 100%;
    background-position: center;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-color: #0077c5;
}

#item-modal #types-table tr:last-child td {
    border-bottom: 1px solid #dee2e6;
}

#item-modal #types-table tr td {
    padding: 12px 30px;
}

#item-modal .no-icon {
    background-image: url('/uploads/accounting/attachments/default-item.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#item-modal .no-icon:hover,
#item-modal .preview-uploaded:hover {
    cursor: pointer;
    border-color: #8d9096 !important;
}

#item-modal .preview-uploaded {
    height: 100%;
}

#item-modal .type-icon {
    height: 100%;
    background-position: center;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-color: #0077c5;
}

#item-modal .modal-footer .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#printSetupModal .check-type-preview {
    background-image: url(/uploads/accounting/print-check-setup.svg);
    width: 100%;
    height: 177px;
    background-size: 510px auto;
    opacity: 0.5;
    background-repeat: no-repeat;
}

#printSetupModal .check-type-preview:hover {
    opacity: 1;
}

#printSetupModal .check-type-preview.selected {
    opacity: 1;
}

#printSetupModal .check-type-preview#standard-type-preview {
    background-position: 0 -243px;
}

#printSetupModal .printsetup-container {
    height: 289px;
    width: 376px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

#printSetupModal .printsetup-amountbox {
    background-image: url(/uploads/accounting/print-check-setup.svg);
    background-repeat: no-repeat;
    height: 279px;
    width: 376px;
    background-size: 392px auto;
    background-position: 0 -770px;
}

#printSetupModal .printsetup-amountgrid {
    background-image: url(/uploads/accounting/print-check-setup.svg);
    background-repeat: no-repeat;
    height: 81px;
    width: 178px;
    background-size: 370px auto;
    position: absolute;
    cursor: move;
    background-position: 0 -606px;
}