.all-sales-section .filter-btn-section {
    position: relative;
}

.all-sales-section button.btn.btn-default {
    font-size: 13px;
    padding: 5px 25px;
    font-weight: 700;
    border: solid 2px #393A3D;
    height: auto;
    color: #393A3D;
}

.all-sales-section .filter-btn-section .filter-panel {
    width: 500px;
    position: absolute;
    background: #fff;
    padding: 10px 15px;
    border-radius: 2px;
    border: solid 1px #CACACA;
    padding-bottom: 20px;
    box-shadow: 3px 6px 20px #cacaca;
    top: 47px;
    z-index: 1;
    left: 0;
}

.all-sales-section .filter-btn-section .filter-panel .achor-holder {
    position: absolute;
    top: -14px;
    width: 20px;
    left: 35px;
}

.all-sales-section .filter-btn-section .filter-panel .form-group .label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.all-sales-section select,
.all-sales-section input[type="text"],
.all-sales-section input[type="email"],
.all-sales-section input[type="number"],
.all-sales-section input[type="date"],
.all-sales-section textarea {
    font-size: 12px;
    font-weight: lighter;
    padding: 8px;
    height: auto;
    border: solid 1px #BABEC5!important;
    border-radius: 2px;
    width: 100%;
    resize: none;
    color: #333333;
}

.all-sales-section .filter-btn-section .filter-panel .btn-success {
    font-size: 13px;
    font-weight: 700;
    /* border: solid 1px #2CA01C; */
    padding: 6px 25px;
    background: #2CA01C;
    border-radius: 24px;
    height: auto;
    /* margin-top: 15px; */
    color: #ffffff;
}

.all-sales-section .filter-btn-section .filter-panel .btn-success:hover {
    background-image: none;
    background-color: #108000;
}

.dataTables_wrapper .dataTables_filter input {
    visibility: visible;
    position: relative;
}

.btn-above-table-section {
    display: flex;
}

.btn-above-table-section>div {
    margin-right: 10px;
}

.all-sales-section .by-batch-btn .dropdown-menu li {
    padding: 5px 0;
}

.all-sales-section .by-batch-btn .dropdown-menu li:hover,
.all-sales-section .by-batch-btn .dropdown-menu li:hover a {
    color: #2CA01C;
    background-color: #ECEDF1;
    cursor: pointer;
}

.all-sales-section .by-batch-btn .dropdown-menu li:hover,
.all-sales-section .by-batch-btn .dropdown-menu li:hover a {
    color: #2CA01C;
    background-color: #ECEDF1;
    cursor: pointer;
}

.all-sales-section .by-batch-btn .dropdown-menu li a {
    font-size: 13px;
    color: #2C2C2C;
    font-weight: lighter;
}

.all-sales-section ul.by-batch-btn li.print-transaction-btn.disabled,
.all-sales-section ul.by-batch-btn li.print-transaction-btn.disabled a,
.all-sales-section ul.by-batch-btn li.print-packaging-slip-btn.disabled,
.all-sales-section ul.by-batch-btn li.print-packaging-slip-btn.disabled a,
.all-sales-section ul.by-batch-btn li.send-transaction-btn.disabled,
.all-sales-section ul.by-batch-btn li.send-transaction-btn.disabled a,
.all-sales-section ul.by-batch-btn li.send-reminder-btn.disabled,
.all-sales-section ul.by-batch-btn li.send-reminder-btn.disabled a {
    cursor: default;
    color: #A0A09F;
}