.tile-container{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    box-shadow:0 2px 8px 0 rgba(0,0,0,.2);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d4d7dc;
    -webkit-transition: all .3s ease;
    position:relative;
    top:20px;
    width: 100%;
    height: 320px;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}
.inner-content{
    padding: 20px;
}
.header-container{
    padding-bottom: 35px;
}
.header-content{
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
    float: left;
    color: rgb(57, 58, 61);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0px;
}
.header-separator{
    float: right;
    text-align: right;
}
.hs-content{
    font-size: 12px;
    font-weight: 400;
}

/*Banking Page CSS*/
.banking-tab-container{
    border-bottom: 1px solid grey;
    padding-left: 0;
}
.banking-tab{
    padding: 4px 16px;
    text-decoration: none;
    line-height: 28px;
    height: 36px;
    font-size: 14px;
    color: #6b6c72;
}
.banking-tab:hover{
    color: #404040;
    text-decoration: none;
    border-bottom: 5px solid grey;
}
.banking-tab-active{
    padding: 4px 16px;
    border-bottom: 5px solid #498002;
    font-weight: bolder;
    text-decoration: none;
    line-height: 28px;
    height: 36px;
    font-size: 14px;
    color: #404040;
}
.banking-tab-active:hover{
    color: #404040;
    text-decoration: none;
}

.banking-sub-tab{
    text-decoration: none;
    color: #6b6c72;
    background-color: transparent !important;
}
.banking-sub-tab:hover{
    color: #6b6c72;
}
.banking-sub-active{
    background-color: transparent !important;
    border-bottom: 5px solid #498002 !important;
    font-weight: bolder;
    text-decoration: none;
    font-size: 14px;
    color: #404040;
}
.rb-01{
    display: inline-block;
}
.rb-02{
    display: inline-block;
    float: right;
}
.rb-02 .nav-item{
    margin-left: 20px;
}
.fontSize-20{
	font-size:20px !important;
}
.fontSize-14{
	font-size:14px;
}
.background-transparent{
	background-color: transparent;
}
.rounded-20{
	border-radius:20px;
}
.rounded-top-left-bottom-right{
	border-radius: 20px 0 0 20px;
}
/*Bank Account Dropdown*/

.bank-account-picker .bank-account-dd{
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #d4d7dc;
    box-shadow: 0 4px 0 0 rgba(0,0,0,.1);
    cursor: pointer;
    margin: 10px 3px 3px -14px;
    max-height: 500px;
    max-width: 490px;
    overflow: scroll;
    position: fixed;
    z-index: 200;
    padding: 10px;
    min-width: 525px;
}
.bank-account-picker .bank-account-dd .bank-account-view{
    border-bottom-color: #d4d7dc;
    border-bottom-style: solid;
    border-bottom-width: thin;
    background: #f4f5f8;
    border-radius: 5px;
}
.bank-account-picker .bank-account-dd .bank-account-view .subcolumn{
    display: inline-block;
    position: relative;
}
.bank-account-picker .bank-account-dd .bank-account-view{
    flex: 1;
}
.bank-account-picker .account-logo{
    border-radius: 50px;
    margin-right: 16px;
    height: 40px;
    width: 40px;
    background-color: #0077c5;
    display: inline-block;
}
.bank-account-picker .account-logo .hi{
    align-items: center;
    color: #fff;
    display: flex;
    height: 40px;
    width: 40px;
    font-size: 24px;
    justify-content: center;
}
.bank-account-picker .bank-account-dd .bank-account-view .subcolumn .subrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
}
.bank-account-picker .bank-account-dd .bank-account-view .subcolumn .space-between{
    flex-wrap: wrap;
    justify-content: space-between;
}
.bank-account-picker .bank-account-dd .bank-account-view .account-name{
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}
.bank-account-picker .bank-account-dd .bank-account-view .subcontent{
    color: #6b6c72;
    font-size: 12px;
}
.bank-account-picker .bank-account-dd .bank-account-view .subcolumn .pull-right{
    bottom: 0;
    margin-right: 12px;
    position: absolute;
    right: 0;
}

/*Audit log*/
.activity-container{
    margin-top: 16px;
    height: 20px;
    border-bottom: 1px solid #afafaf;
}
.activity-container .activityLink{
    font-size: 12px;
    text-decoration: none;
    float: right;
    color: #393a3d;
}
.activity-container .activityLink:hover{
    text-decoration: none;
    color: #2c2e79;
}
.filter-logs .print-settings{
    float: right;
    margin-right: 30px;
    right: 0;
}