    .dataTables_wrapper .dataTables_filter input {
        position: relative;
        visibility: inherit;
    }
    
    input[type=checkbox] {
        cursor: pointer;
    }
    
    #customers_table ul.dropdown-menu li:hover {
        background-color: #E8EAED;
    }
    
    #customers_table ul.dropdown-menu li:hover a {
        color: #28A745;
    }
    
    #customers_table ul.dropdown-menu li a {
        font-size: 13px;
        text-align: left;
    }
    
    #customers_table ul.dropdown-menu li {
        text-align: right;
    }
    
    #customers_table td div.dropdown a.first-option {
        text-decoration: underline;
        font-weight: 700;
        font-size: 13px;
        color: #0077C5;
    }
    
    #customers_table td div.dropdown #dropdown-button-icon {
        padding: 1px 5px;
        margin-left: 10px;
        border: solid 1px transparent;
    }
    
    #customers_table td div.dropdown #dropdown-button-icon[aria-expanded="true"] {
        border: solid 1px #E8EAED;
    }
    
    #customers_table thead th {
        font-weight: 700;
    }
    
    #customers_table thead th:first-child {
        border: none;
    }
    
    #customers_table {
        border: none;
    }
    
    .section-above-table {
        padding-bottom: 10px;
        height: 45px;
    }
    
    .section-above-table .dropdown-holder,
    .section-above-table .search-holder,
    .section-above-table .batch-actiom-icon-holder {
        float: left;
        position: relative;
        margin-right: 10px;
    }
    
    .section-above-table .batch-actiom-icon-holder img.batch-actiom-icon {
        width: 20px;
        position: inherit;
        bottom: -15px;
    }
    
    .section-above-table .batch-actiom-icon-holder {
        padding-left: 15px;
    }
    
    .section-above-table .dropdown-holder button {
        font-size: 13px;
        padding: 5px 25px;
        font-weight: 700;
        border: solid 2px #000;
        height: auto;
    }
    
    .section-above-table .search-holder input.search {
        padding: 4px;
        width: 250px;
        padding-right: 30px;
        font-style: italic;
        padding-left: 10px;
        border: solid 1px #BABEC5;
        cursor: text;
        font-size: 12px;
        height: 33px;
        color: #6B6C71;
    }
    
    .section-above-table .search-holder input.search::placeholder {
        font-style: italic;
        color: #BABEC5;
    }
    
    .section-above-table .search-holder input.search:focus,
    .section-above-table .search-holder input.search:hover {
        border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
        outline: 0 none;
        box-shadow: none;
        border: solid 1px #80CF03;
        font-style: normal;
    }
    
    .section-above-table .search-holder .search-field i.fa {
        position: absolute;
        right: 0;
        padding: 9px;
    }
    
    .section-above-table .search-holder .search-field {
        color: #989897;
    }
    
    .section-above-table .dropdown-holder ul li {
        font-size: 12px;
        text-align: left;
    }
    
    .section-above-table .dropdown-holder ul li:hover,
    .section-above-table .dropdown-holder ul li:hover a,
    .section-above-table .search-holder .search-result ul.dropdown-menu li:hover,
    .section-above-table .search-holder .search-result ul.dropdown-menu li:hover a {
        background: #E8EAED;
        cursor: pointer;
        color: #2BA01D;
    }
    
    .section-above-table .search-holder .search-result ul.dropdown-menu {
        width: 200%;
        left: 0;
        border-radius: 0;
        font-size: 12px;
        margin: 0;
    }
    
    .section-above-table .search-holder .search-result .dropdown-menu {
        max-height: 500px;
    }
    
    div#send-reminder-modal {
        position: fixed;
        top: 0;
        z-index: 1059;
        width: 100%;
        height: 100vh;
        background: #00000082;
        display: none;
    }
    
    div#send-reminder-modal.show {
        display: block;
    }
    
    #send-reminder-modal .monal-body {
        background: #ffffff;
        width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        font-size: 12px;
    }
    
    #send-reminder-modal .close-btn {
        width: 50px;
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 5px;
        padding: 10px;
        cursor: pointer;
    }
    
    #send-reminder-modal .monal-body .modal-title h2 {
        font-size: 20px;
    }
    
    #send-reminder-modal .monal-body .modal-title p {
        font-size: 12px;
    }
    
    #send-reminder-modal .form-group .label {
        font-weight: 700;
        font-size: 13px;
        color: #333333;
    }
    
    #send-reminder-modal .form-group {
        margin: 10px!important;
    }
    
    #send-reminder-modal .form-group input,
    #send-reminder-modal .form-group textarea {
        padding: 10px;
        width: 100%;
        border: solid 1px #BABEC5;
        font-size: 12px;
        color: #333333;
        border-radius: 3px;
        resize: none;
    }
    
    #send-reminder-modal .form-group input:focus,
    #send-reminder-modal .form-group textarea:focus {
        border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
        outline: 0 none;
        box-shadow: none;
        border: solid 1px #80CF03;
        font-style: normal;
    }
    
    #send-reminder-modal .form-group input[name="receint-email"],
    #send-reminder-modal .form-group input[name="receint-email"]:focus {
        border: none;
        border-color: none;
        box-shadow: none;
        outline: 0 none;
        box-shadow: none;
        font-style: normal;
    }
    
    #send-reminder-modal .send-reminder-modal-footer button {
        padding: 5px 20px;
        height: auto;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
    }
    
    #send-reminder-modal .error-found {
        font-size: 12px;
        padding: 20px;
        border: solid 1px #DC3B1E;
        display: none;
    }
    
    #send-reminder-modal .error-found .error-title {
        color: #DC3B1E;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    div#customer_receive_payment_modal {
        position: fixed;
        z-index: 1059;
        width: 100%;
        height: 100vh;
        top: 0;
        color: #333333;
        display: none;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content {
        background: #F4F5F8;
        height: 100%;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_header {
        padding: 15px;
        background: #F4F5F8;
        position: fixed;
        width: 99%;
        height: 66px;
        z-index: 1;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_header .tittle {
        font-size: 25px;
        font-weight: 700;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_header .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 44px;
        z-index: 1;
        cursor: pointer;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_body {
        position: relative;
        top: 0;
        bottom: 0;
        height: 100vh;
        padding-top: 66px;
        padding-bottom: 50px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_body .payment-field-part {
        background-color: #F4F5F8;
        padding: 20px;
    }
    
    #receive_payment_form .form-group .label {
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    #receive_payment_form {
        font-size: 12px;
    }
    
    #receive_payment_form .form-group select:focus,
    #receive_payment_form .form-group textarea:focus,
    #receive_payment_form .form-group input[type="text"]:focus,
    #receive_payment_form .form-group input[type="password"]:focus,
    #receive_payment_form .form-group input[type="datetime"]:focus,
    #receive_payment_form .form-group input[type="datetime-local"]:focus,
    #receive_payment_form .form-group input[type="date"]:focus,
    #receive_payment_form .form-group input[type="month"]:focus,
    #receive_payment_form .form-group input[type="time"]:focus,
    #receive_payment_form .form-group input[type="week"]:focus,
    #receive_payment_form .form-group input[type="number"]:focus,
    #receive_payment_form .form-group input[type="email"]:focus,
    #receive_payment_form .form-group input[type="url"]:focus,
    #receive_payment_form .form-group input[type="search"]:focus,
    #receive_payment_form .form-group input[type="tel"]:focus,
    #receive_payment_form .form-group input[type="color"]:focus,
    .uneditable-input:focus {
        border: solid 1px #28A01A!important;
        box-shadow: none;
        outline: none;
    }
    
    #receive_payment_form .form-group select,
    #receive_payment_form .form-group input[type="text"],
    #receive_payment_form .form-group textarea {
        font-size: 12px;
        font-weight: lighter;
        padding: 8px;
        height: auto;
        border: solid 1px #BABEC5;
        border-radius: 2px;
        width: 100%;
        resize: none;
    }
    
    #receive_payment_form .form-group {
        padding: 5px;
    }
    
    #receive_payment_form .form-group .find-by-invoice-no {
        border: solid 1px #8C9094;
        padding: 6px 40px;
        height: auto;
        border-radius: 5px;
        background: transparent;
        font-size: 14px;
        font-weight: 600;
    }
    
    #receive_payment_form .form-group .find-by-invoice-no:hover {
        background: rgba(107, 108, 114, .25);
        color: #393a3d;
    }
    
    #receive_payment_form .form-group .filter-panel {
        width: 350px;
        position: absolute;
        background: #fff;
        padding: 10px;
        border-radius: 2px;
        border: solid 1px #BABEC5;
        padding-bottom: 20px;
        box-shadow: 3px 6px 20px #adb1b4;
        top: 50px;
        display: none;
    }
    
    #receive_payment_form .form-group .filter-panel .filter-panel-anchor {
        position: absolute;
        z-index: 1;
        width: 17px;
        top: -11px;
    }
    
    #receive_payment_form .form-group .filter-panel .date-filter {
        width: 100%;
        height: 60px;
    }
    
    #receive_payment_form .form-group .filter-panel .date-filter .date-from {
        width: 50%;
        float: left;
    }
    
    #receive_payment_form .form-group .filter-panel .date-filter .date-to {
        width: 50%;
        float: right;
    }
    
    #receive_payment_form .form-group .filter-panel .checkbox-filter {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    
    #receive_payment_form .form-group .bottom-label {
        font-size: 10px;
        font-weight: 100;
        padding-top: 5px;
    }
    
    #receive_payment_form .form-group .bottom-label a {
        text-decoration: underline;
        color: #0277C5;
    }
    
    #receive_payment_form .total-receive-payment {
        text-align: right;
        font-weight: 700;
    }
    
    #receive_payment_form .total-receive-payment .label {
        font-size: 12px;
        color: #6A6C71;
        font-weight: 600;
    }
    
    #receive_payment_form .total-receive-payment .amount {
        font-size: 36px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer {
        padding: 8px 15px;
        background: #393A3D;
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 1;
        bottom: 0;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .left-btn {
        font-size: 13px;
        color: #ffffff;
        border: solid 1px #6A6C71;
        padding: 5px 25px;
        height: auto;
        background: transparent;
        border-radius: 15px;
        font-weight: 700;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .left-btn:hover {
        background-color: #2A2B2D;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .btn-print {
        outline: 0;
        display: inline-block;
        height: 32px;
        padding: 0 16px;
        line-height: 32px;
        cursor: pointer;
        color: #fff;
        background: transparent;
        border: 0 none;
        box-shadow: none;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .btn-save-new {
        background-image: none;
        background-color: #2CA01C;
        color: #FFFFFF;
        box-shadow: none;
        border-right: none;
        font-size: 13px;
        border-radius: 28px 0 0 28px;
        padding: 5px 15px;
        height: auto;
        border: solid 1px #2CA01C;
        margin-right: -5px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .btn-save-dropdown {
        background-image: none;
        background-color: #2CA01C;
        color: #FFFFFF;
        box-shadow: none;
        border-right: none;
        font-size: 13px;
        border-radius: 0 28px 28px 0;
        padding: 5px 15px;
        height: auto;
        border: solid 1px #2CA01C;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .btn-save-dropdown:hover,
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .btn-save-new :hover {
        background-color: #108000;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .customer_receive_payment_modal_footer .btn-save-new:hover {
        background-image: none;
        background-color: #108000;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .sub-option {
        position: absolute;
        z-index: 1;
        right: 0;
        top: -80px;
        background: #fff;
        font-size: 12px;
        width: 180px;
        text-align: left;
        border: solid 1px #BABEC5;
        border-radius: 3px;
        box-shadow: 3px 6px 20px #282929;
        display: none;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .sub-option ul li {
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .sub-option ul li:hover,
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .sub-option ul li:hover a {
        background: #ECEEF1;
        color: #2BA01D;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part {
        background-color: #ffffff;
        height: 100%;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .invoices {
        padding: 20px 50px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .invoices .title {
        font-size: 20px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .invoices .settings {
        font-size: 30px;
        color: #BABEC5;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .total-amount .label {
        font-weight: 700;
        font-size: 13px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .total-amount .amount {
        width: 140px;
        font-size: 13px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .default-button {
        font-size: 13px;
        font-weight: 700;
        border: solid 1px #8E9095;
        padding: 5px 20px;
        background: transparent;
        border-radius: 24px;
        height: auto;
        margin-top: 15px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .default-button:hover {
        background: rgba(107, 108, 114, .25);
        color: #393a3d;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .success-button {
        font-size: 13px;
        font-weight: 700;
        border: solid 1px #2CA01C;
        padding: 5px 20px;
        background: #2CA01C;
        border-radius: 24px;
        height: auto;
        margin-top: 15px;
        color: #ffffff;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .success-button:hover {
        background-image: none;
        background-color: #108000;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .proof-part .file-upload button {
        border: none;
        background: transparent;
        height: auto;
        font-size: 13px;
        font-weight: 700;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .proof-part .file-upload {
        padding-left: 0;
        margin: unset;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content .invoicing-part .proof-part .file-upload .button-label {
        margin-left: 15px;
        font-size: 13px;
    }
    
    div#customer_receive_payment_modal .customer_receive_payment_modal_content #customer_invoice_table td input {
        width: 130px;
        float: right;
    }