.invoices-page-section button.btn.btn-default {
    font-size: 13px;
    padding: 10px 25px;
    font-weight: 700;
    border: solid 3px #6B6C72;
    height: auto;
    color: #393A3D;
    width: 180px;
}

.invoices-page-section button.btn.btn-default.disabled {
    cursor: auto;
    background: none!important;
}

.invoices-page-section table.invoices-table tbody>tr>td {
    cursor: pointer;
}

.invoices-page-section .by-batch-btn .dropdown-menu li {
    padding: 5px 0;
}

.invoices-page-section .by-batch-btn .dropdown-menu li:hover,
.invoices-page-section .by-batch-btn .dropdown-menu li:hover a {
    color: #2CA01C;
    background-color: #ECEDF1;
    cursor: pointer;
}

.invoices-page-section .by-batch-btn .dropdown-menu li a {
    font-size: 13px;
    color: #2C2C2C;
    font-weight: lighter;
}

.invoices-page-section table tr .form-check {
    width: 50px;
}

.invoices-page-section table tr .form-check .checkbox-sec {
    margin: 0;
}

.invoices-page-section table tr th {
    font-weight: bold;
}

.invoices-page-section ul.by-batch-btn li.print-transaction-btn.disabled,
.invoices-page-section ul.by-batch-btn li.print-transaction-btn.disabled a,
.invoices-page-section ul.by-batch-btn li.print-packaging-slip-btn.disabled,
.invoices-page-section ul.by-batch-btn li.print-packaging-slip-btn.disabled a,
.invoices-page-section ul.by-batch-btn li.send-transaction-btn.disabled,
.invoices-page-section ul.by-batch-btn li.send-transaction-btn.disabled a,
.invoices-page-section ul.by-batch-btn li.send-reminder-btn.disabled,
.invoices-page-section ul.by-batch-btn li.send-reminder-btn.disabled a {
    cursor: default;
    color: #A0A09F;
}

div#invoice-reminder-modal {
    position: fixed;
    top: 0;
    z-index: 1059;
    width: 100%;
    height: 100%;
    background: #00000082;
    color: #393A3D;
    display: none;
}

#invoice-reminder-modal .the-modal-body {
    background: #ffffff;
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 12px;
    border-radius: 10px;
}

#invoice-reminder-modal .the-modal-body div.the-close {
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 20px;
    padding: 10px;
    color: #8D9096;
    cursor: pointer;
}

#invoice-reminder-modal .the-modal-footer {
    padding-top: 30px;
}

#invoice-reminder-modal .the-modal-footer button.the-close:hover {
    color: #0378C5;
    text-decoration: underline;
}

#invoice-reminder-modal .the-modal-footer button.the-close {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 15px;
    color: #0378C5;
    margin-left: 50px;
    height: auto;
}

#invoice-reminder-modal .the-modal-footer button.the-submit:hover {
    color: #ffffff;
    border: none;
}

#invoice-reminder-modal .the-modal-footer button.the-submit {
    border: none;
    padding: 5px 20px;
    height: auto;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

#invoice-reminder-modal .the-modal-body .the-close:hover {
    color: #000;
}

#invoice-reminder-modal .the-modal-body form {
    padding: 10px 0;
}

#invoice-reminder-modal .the-modal-body form .form-group {
    margin-bottom: 0!important;
    padding: 5px 0;
}

#invoice-reminder-modal .form-group label {
    width: 90px;
    font-size: 14px;
}

#invoice-reminder-modal .form-group label span.cc-bcc {
    font-size: 12px;
    color: #2282C9;
    cursor: pointer;
}

#invoice-reminder-modal .form-group label span.cc-bcc:hover {
    text-decoration: underline;
}

#invoice-reminder-modal .form-group input,
#invoice-reminder-modal .form-group select,
#invoice-reminder-modal .form-group textarea {
    padding: 10px;
    width: 300px;
    border: solid 1px #BABEC5;
    font-size: 12px;
    color: #333333;
    border-radius: 3px;
    resize: none;
}

#invoice-reminder-modal .pdf-frame iframe {
    width: 100%;
    height: 100%;
}

#invoice-reminder-modal .pdf-frame {
    height: 100%;
    width: 100%;
}

#invoice-reminder-modal .form-group label[for="email-body"] {
    position: absolute;
}

#invoice-reminder-modal .form-group textarea[name='email-body'] {
    margin-left: 90px;
}

#invoice-reminder-modal .form-group input:focus,
#invoice-reminder-modal .form-group textarea:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset, 0 0 8px rgb(126 239 104 / 60%);
    outline: 0 none;
    box-shadow: none;
    border: solid 1px #80CF03;
    font-style: normal;
}

#invoice-reminder-modal .form-group input[name="send_me_copy"] {
    width: auto;
    margin-left: 90px;
    padding-left: 10px;
}

#invoice-reminder-modal .form-group label[for='send_me_copy'] {
    width: auto;
}

#invoice-reminder-modal .the-modal-body form div.attachment {
    padding-left: 90px;
    font-size: 14px;
    font-weight: 700;
}

#batch-print-iframe-section {
    display: none;
}

div#invoice-viewer-modal {
    position: fixed;
    top: 0;
    z-index: 1038;
    width: 100%;
    height: 100%;
    background: #00000082;
    color: #393A3D;
    display: none;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal {
    background: #ffffff;
    width: 370px;
    position: fixed;
    right: 0;
    padding: 15px 0px;
    font-size: 13px;
    height: calc(100% - 158px);
    overflow: scroll;
    overflow-x: hidden;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal.full-height {
    height: 100%;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal>.the-title {
    font-size: 14px;
    color: #6D6E74;
    text-align: center;
    font-weight: 700;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-close {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 20px;
    font-weight: lighter;
    color: #8d9096a6;
    cursor: pointer;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-section {
    display: flex;
    padding: 10px 30px;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-icon {
    font-size: 20px;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-icon.success {
    color: #0F8001;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-icon.pending {
    color: #FFAD00;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-text {
    font-size: 15px;
    padding: 3px 5px;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .label {
    font-size: 14px;
    font-weight: 700;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .total-amount-section {
    padding: 10px 30px;
    padding-top: 0px;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .total-amount-section .amount {
    font-size: 30px;
    font-weight: 700;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .invoice-info {
    padding: 10px 30px;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section {
    padding: 20px 30px;
    border-top: solid 1px #D4D7DC;
    display: grid;
    color: #6B6C72;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .title {
    cursor: pointer;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .title span.customer-name,
div#invoice-viewer-modal .the-modal-body.right-side-modal .section .title span.normal {
    float: left;
    font-size: 14px;
    font-weight: 700;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .title span.customer-name {
    font-size: 18px;
    font-weight: 600;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .title span.icon {
    float: right;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .section-content {
    padding: 10px 0;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .section-content .email {
    font-size: 14px;
    color: #0177C5;
    font-weight: 600;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .section-content .item {
    font-size: 14px;
    font-weight: 600;
    display: flow-root;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .section-content .item span.title {
    float: left;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section .section-content .item span.price {
    float: right;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal ul.status-tracker {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-marker {
    display: flex;
    flex-direction: column;
    position: relative;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-marker.next-completed .line {
    margin: 0 8px;
    width: 3px;
    opacity: 1;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal ul.status-tracker li.status-step.completed {
    opacity: 1;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal ul.status-tracker li {
    display: flex;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-marker.next-completed .circle {
    position: absolute;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal ul.status-tracker .status-info {
    margin-left: 15px;
    margin-bottom: 25px;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal ul.status-tracker .status-info a {
    font-size: 13px;
    color: #0177C5;
    font-weight: 600;
    cursor: pointer;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal ul.status-tracker .status-title {
    margin-bottom: 5px;
    color: #393a3d;
    font-size: 15px;
    font-weight: 600;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal ul.status-tracker .status-event-info {
    margin-bottom: 5px;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-marker .line {
    content: "";
    display: block;
    width: 1px;
    align-items: center;
    min-height: 40px;
    margin: 12px 10px;
    background-color: #babec5;
    flex-grow: 1;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-marker .circle {
    content: "";
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-marker.completed .circle {
    z-index: 1;
    top: 1px;
    background-color: #2ca01c;
    border: 4px solid white;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .status-marker.completed .circle.default.last-active-status {
    border-color: #d0f39b;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .more-description-section a {
    color: #0177C5;
}

div#invoice-viewer-modal .section-loader {
    display: none;
}

div#invoice-viewer-modal .section-loader img {
    width: 100px;
    margin: auto;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .more-description-section .more-description-info {
    display: none;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section.hidden .section-content {
    display: none;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .section.shown .section-content {
    display: block;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer-container {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 370px;
    padding: 10px 0;
    z-index: 1;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer-container .buttons {
    padding: 20px;
    display: flow-root;
    background: #F4F5F8;
    border-top: solid 1px #D5D7DC;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer {
    position: relative;
    width: 100%;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer .button-dropdown-options {
    float: left;
    width: 200px;
    border: solid 3px #6B6C70;
    padding: 5px 10px;
    color: #383A3D;
    cursor: pointer;
    position: relative;
    font-weight: 600;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer .button-dropdown-options:hover {
    background-color: #CED0D2;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer .button-dropdown-options .options {
    position: absolute;
    bottom: 35px;
    width: 100%;
    left: -2px;
    border: solid 1px #D5D7DC;
    border-radius: 5px;
    display: none;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer .button-dropdown-options .options li {
    padding: 10px;
    background: #fff;
    font-weight: normal;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer .button-dropdown-options .options li:hover {
    color: #fff;
    background: #2BA01D;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer button.edit-invoice-btn.success {
    float: right;
    height: auto;
    padding: 8px 15px;
    border: none;
    background: #2BA01D;
    color: #fff;
    font-weight: 600;
}

div#invoice-viewer-modal .the-modal-body.right-side-modal .the-modal-footer button.edit-invoice-btn.success:hover {
    background: rgb(30, 144, 14)
}