.phone-input{
	margin-bottom:8px;
}
.phone-input > .input-group-btn > button.dropdown-toggle {

  height: 46px !important;
    background: #fff;
    border: 2px solid #e0e0e0;
    border-right: 0;
}
.phone-input > .input-group-btn > .dropdown-menu {

  padding: 15px;
}

.page-empty-container {
  margin-top: 60px;
  text-align: center;
}