$colorError: #d52b1e;

.receiptsTable {
  --img-width: 100px;
  width: 100% !important;

  &__img {
    max-width: var(--img-width);
    margin: auto;
    cursor: pointer;
  }

  &__imgHeader {
    max-width: var(--img-width);
  }

  &__preview {
    position: fixed;
    padding: 10px;
    border-radius: 0.4rem;
    border: 1px solid #ddd;
    background-color: #fff;

    img {
      max-width: 200px;
      border: 1px solid;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    .fa {
      margin-left: 5px;
      font-size: 16px;
      color: #6b6c72;
    }
  }

  &__link {
    color: #0077c5;

    &:hover {
      text-decoration: underline;
    }
  }

  &__selectColumn {
    padding: 0 8px !important;
    text-align: center;
    max-width: 50px;
  }

  &__row--selected {
    background-color: #e4e7eb !important;
  }
}

#batchActions {
  width: 100%;

  .disabled {
    a {
      cursor: not-allowed;
      color: #cccccc !important;
    }
  }
}

#receiptModal {
  .modal-body .viewer-backdrop-container .viewer-backdrop {
    width: unset;
    height: unset;
    padding-top: unset;
    padding: 1rem;
  }

  .modal-content {
    min-height: 100%;
  }

  #receiptImage {
    min-width: unset;
    min-height: unset;
  }

  .formActions {
    .form-check,
    [data-action="createexpense"],
    [data-action="matchreceipt"] {
      display: none;
    }
  }

  .receiptsButton {
    display: flex;
    align-items: center;
    border-radius: 36px 0 0 36px;

    .spinner-border {
      display: none;
    }

    &--isLoading {
      .spinner-border {
        display: block;
      }
    }

    &--match {
      border-radius: 36px;
      min-width: 100px;
      justify-content: center;
    }
  }

  [data-active-step="1"] {
    [data-step="2"],
    [data-step="3"] {
      display: none;
    }

    [data-step="1"] {
      display: block;
    }
  }

  [data-active-step="2"] {
    [data-step="1"],
    [data-step="3"] {
      display: none;
    }

    [data-step="2"] {
      display: block;
    }

    .formActions {
      .form-check,
      [data-action="createexpense"] {
        display: flex;
      }

      [data-action="savereceipt"][data-action-after="next"] {
        display: none;
      }
    }
  }

  [data-active-step="3"] {
    [data-step="1"],
    [data-step="2"] {
      display: none;
    }

    [data-step="3"] {
      display: block;
    }

    .formActions {
      [data-action="matchreceipt"] {
        display: flex;
      }

      .form-check,
      [data-action="createexpense"],
      [data-action="savereceipt"][data-action-after="next"],
      .receiptsButton__dropdown {
        display: none;
      }
    }
  }
}

@mixin input-error {
  background: rgba(213, 43, 30, 0.1) !important;
  border-color: $colorError !important;
}

.inputError {
  @include input-error;

  & + .select2 .select2-selection {
    @include input-error;
  }
}

.formError {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 4px;
  margin-bottom: 25px;
  border: 1px solid $colorError;

  display: none;

  &--show {
    display: flex;
  }

  &__inner {
    display: flex;
    align-items: baseline;
  }

  .fa {
    position: relative;
    top: 4px;

    font-size: 18px;
    margin-right: 8px;
    color: $colorError;
  }

  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    color: $colorError;

    &:nth-child(2) {
      font-weight: normal;
    }
  }
}

.step-back {
  color: #0077c5;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
    color: #0077c5;
  }
}

.receiptInfo {
  &__inner {
    max-width: 600px;
  }

  &__box {
    padding: 1rem;
    border: 1px solid #dbdcdf;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 100%;
    font-weight: 600;
    border: 1px solid;
    border-radius: 40px;
    height: 40px;
    box-sizing: border-box;

    &:hover {
      background-color: #dbdcdf;
    }
  }
}

.receiptsFilterForm {
  min-width: max-content;

  .row {
    margin: 0;
    margin-bottom: 1rem;
  }

  [class^="col-"] {
    padding: 0 8px;
  }

  .btn {
    min-width: 100px;
  }

  .amountWrapper {
    [data-amount-type] {
      display: none;
    }

    &[data-type="between"] {
      [data-amount-type="between"] {
        display: flex;
      }
    }

    &[data-type="less_than"] {
      [data-amount-type="less_than"] {
        display: flex;
      }
    }

    &[data-type="greater_than"] {
      [data-amount-type="greater_than"] {
        display: flex;
      }
    }

    &[data-type="equals"] {
      [data-amount-type="equals"] {
        display: flex;
      }
    }
  }

  .receiptsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;

    .spinner-border {
      display: none;
    }

    &--isLoading {
      .spinner-border {
        display: block;
      }
    }
  }
}

.googleDriveConnectButton {
  border: 2px solid #d4d7dc;
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;

  &--error {
    border-color: $colorError;
  }
}

.googleDriveLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  &.show {
    display: flex;
  }

  &__inner {
    width: 500px;
    height: 200px;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin-top: 1rem;
    font-size: 1rem;
    color: #6d6d6d;
  }

  .spinner-border {
    color: var(--success);
  }
}

.receiptForwardingButton {
  border: 2px solid #d4d7dc;
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.receiptModal {
  &__emailCopy {
    font-size: 16px;
    margin-left: 5px;
    color: #767676;
  }

  &__note {
    font-size: 13px;
    color: #767676;
  }

  .input--error {
    border-color: $colorError;
  }

  .receiptsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;

    .spinner-border {
      display: none;
    }

    &--isLoading {
      .spinner-border {
        display: block;
      }
    }
  }
}
