.docusignHome {
  display: grid;
  grid-template-columns: 260px auto;
  padding-top: 95px !important;

  .navbar-side {
    position: relative !important;
    top: 0 !important;
  }

  .card {
    box-shadow: 0 0 13px 0 rgb(116 116 117 / 44%);
  }

  &__container {
    display: grid;
    place-content: center;
    min-height: 500px;
  }

  &__spacer {
    height: 40px;
  }
}

.summary {
  display: flex;

  &__item {
    padding: 0 20px;

    &:not(:first-child) {
      position: relative;
      margin-left: 20px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #333;
      }
    }
  }

  &__count {
    display: block;
    font-size: 35px;
    line-height: 40px;
  }

  &__title {
    display: block;
  }
}
