// body {
// 	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
// 	font-family: "Josefin Slab";
// 	height: 100vh;
//   }
  
  h1 {
	font-size: 2.2rem;
	margin-top: 80px;
	text-align: center;
  }
  
  .container {
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
	margin: 1vw auto;
	position: relative;
	text-align: center;
	width: 94vw;
  }
  
  .product {
	// flex: auto;
	// font-size: 1.5rem;
	cursor: pointer;
	margin: 0 1vw calc(1vw + 50px) 1vw;
	min-width: 150px;
	min-height: 200px;
	position: relative;
  }
  
  .product:before {
	content: "";
	float: left;
	padding-top: 100%;
  }
  
  .content {
	background: white;
	border-radius: 30%;
	height: 90%;
	margin: 8%;
	position: absolute;
	width: 84%;
	vertical-align: middle;
	z-index: 5000;
  }
  
  .product:hover .effect-1,
  .product:hover .effect-2 {
	display: block;
  }
  
  .effect-1,
  .effect-2 {
	border-radius: 30%;
	display: none;
	mix-blend-mode: multiply;
	height: 84%;
	opacity: 1;
	position: absolute;
	width: 84%;
	z-index: 3000;
  }
  
  .effect-1 {
	animation: rotate 1.8s linear infinite;
	background: cyan;
  }
  
  .effect-2 {
	animation: rotate 1.2s linear reverse infinite;
	background: #e7a9ff;
  }
  
  @keyframes rotate {
	0% {
	  top: 0;
	  left: 8%;
	}
	25% {
	  top: 8%;
	  left: 0%;
	}
	50% {
	  top: 16%;
	  left: 8%;
	}
	75% {
	  top: 8%;
	  left: 16%;
	}
	100% {
	  top: 0;
	  left: 8%;
	}
  }
  
  .title {
	position: relative;
	top: calc(100% + 16px);
  }
  
  .title span {
	display: block;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.6rem;
	letter-spacing: 0.1rem;
	margin-top: 8px;
	text-transform: uppercase;
  }
  
  .exercise {
	background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
	border-radius: 5px;
	height: 76%;
	margin: 12%;
	width: 76%;
  }
  
  .sleep {
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	border-radius: 50%;
	height: 85%;
	margin: 7%;
	width: 85%;
  }
  
  .meditation {
	background-image: linear-gradient(
	  to top,
	  #f3e7e9 0%,
	  #e3eeff 99%,
	  #e3eeff 100%
	);
	border-radius: 5px;
	height: 55%;
	margin: 11%;
	transform: rotate(45deg);
	width: 80%;
  }
  
  .twitter {
	background-image: linear-gradient(
	  to top,
	  #1e3c72 0%,
	  #1e3c72 1%,
	  #2a5298 100%
	);
	border-radius: 14px;
	bottom: 20px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 28px;
	padding: 0 12px;
	position: fixed;
	right: 20px;
	z-index: 5000;
  }
  
  .twitter i {
	margin-right: 6px;
	position: relative;
	top: 2px;
  }
  
  .twitter a {
	color: #fff;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.7rem;
	text-decoration: none;
  }

  /* This mixin is for generating CSS arrows on a box */
@mixin box-arrow($arrowDirection, $arrowColor, $arrowSize: 10px) {
	position: relative;
	z-index: 10;
  
	&::after {
	  content: '';
	  width: 0;
	  height: 0;
	  display: block;
	  position: absolute;
	  z-index: 10;
	  border: 0;
  
	  @if $arrowDirection == bottom or $arrowDirection == top {
		border-left: $arrowSize solid transparent;
		border-right: $arrowSize solid transparent;
		margin-left: -$arrowSize;
		left: 50%;
  
		@if $arrowDirection == bottom {
		  border-top: $arrowSize solid $arrowColor;
		  bottom: -$arrowSize;
		}
  
		@if $arrowDirection == top {
		  border-bottom: $arrowSize solid $arrowColor;
		  top: -$arrowSize;
		}
	  }
  
	  @if $arrowDirection == left or $arrowDirection == right {
		border-top: $arrowSize solid transparent;
		border-bottom: $arrowSize solid transparent;
		margin-top: -$arrowSize;
		top: 50%;
  
		@if $arrowDirection == left {
		  border-right: $arrowSize solid $arrowColor;
		  left: -$arrowSize;
		}
  
		@if $arrowDirection == right {
		  border-left: $arrowSize solid $arrowColor;
		  left: auto;
		  right: -$arrowSize;
		}
	  }
	}
  }
  
  // set some variables to reuse
  
  $boxbkg: #587b7f;
  $bodybkg: #f9f6ef;
  $btncolor: #d87517;
  
  body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5vmin;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background: $bodybkg;
  }
  
  .c-header {
	width: 100%;
	text-align: center;
	font-size: calc(100% + 1vmin);
	
	h1 {
	  font-weight: 700;
	  color: #333;
	}
  }
  
  .c-box {
	background: $boxbkg;
	font-size: 150%;
	text-align: center;
	color: #fff;
	flex-basis: 30%;
	padding: 5vmin;
	margin: 5vmin;
	
	&--arrow-top {
	  @include box-arrow(top, $boxbkg);  
	}
	
	&--arrow-right {
	  @include box-arrow(right, $boxbkg);  
	}
	
	&--arrow-bottom {
	  @include box-arrow(bottom, $boxbkg);  
	}
	
	&--arrow-left {
	  @include box-arrow(left, $boxbkg);  
	}
  }
  
  .c-footer {
	width: 100%;
	text-align: center;
  }
  
  .c-btn {
	background: $btncolor;
	display: inline-block;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: .75em 1.5em .85em;
	font-size: 120%;
	line-height: 140%;
	border-radius: 2px;
	border: 3px solid $btncolor;
	box-shadow: 0 4px 0 0 rgba(0,0,0,.1);
	transition: .2s all ease-out;
	
	&:hover {
	  color: $btncolor;
	  background: #fff;
	  box-shadow: 0 6px 0 0 rgba(0,0,0,.2);
	  border: 3px solid $btncolor;
	}
  }

  
  