.colorPicker .twod, .colorPicker .twod .bg {
  width: 150px;
  height: 150px;
}

.colorPicker .oned {
  height: 150px;
}

.colorPicker .oned .bg {
height: 150px;
}

.colorPicker {
  width: max-content;
  background: transparent;
}

#colorIndicator, #colorValue {
  height: 40px !important;
  width: 100%;
}