/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v83/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

/*!
 * Propeller Pro v1.6.0 (http://pro.propeller.in/): floating-action-button.css
 * Copyright 2016-2020 Digicorp Information Systems Pvt. Ltd.
 * License: GNU General Public License v2.0 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */
.pmd-floating-action {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 1000;
}

.pmd-floating-action:hover .pmd-floating-action-btn,
.menu--floating--open .pmd-floating-action-btn {
  opacity: 1;
  -ms-transform: none;
  transform: none;
  position: relative;
  bottom: auto;
  overflow: hidden;
}

.pmd-floating-action:hover .pmd-floating-action-btn:before,
.menu--floating--open .pmd-floating-action-btn:before {
  opacity: 1;
}

.pmd-floating-action-btn {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.pmd-floating-action-btn:before {
  bottom: 10%;
  content: attr(data-title);
  opacity: 0;
  position: absolute;
  right: 100%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 0.125rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.75rem;
  margin-right: 0.3125rem;
  display: inline-block;
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.pmd-floating-action-btn:last-child:before {
  font-size: 14px;
  bottom: 25%;
}

.pmd-floating-action-btn:hover, .pmd-floating-action-btn:focus, .pmd-floating-action-btn:active {
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.pmd-floating-action-btn:not(:last-child) {
  opacity: 0;
  transform: translateY(20px) scale(0.3);
  -ms-transform: translateY(20px) scale(0.3);
  margin-bottom: 0.9375rem;
  margin-left: 0.5rem;
  position: absolute;
  bottom: 0;
}

.pmd-floating-action-btn:not(:last-child):nth-last-child(1) {
  transition-delay: 50ms;
}

.pmd-floating-action-btn:not(:last-child):nth-last-child(2) {
  transition-delay: 100ms;
}

.pmd-floating-action-btn:not(:last-child):nth-last-child(3) {
  transition-delay: 150ms;
}

.pmd-floating-action-btn:not(:last-child):nth-last-child(4) {
  transition-delay: 200ms;
}

.pmd-floating-action-btn:not(:last-child):nth-last-child(5) {
  transition-delay: 250ms;
}

.pmd-floating-action-btn:not(:last-child):nth-last-child(6) {
  transition-delay: 300ms;
}

.pmd-floating-action-btn.btn:hover {
  overflow: visible;
}

.pmd-floating-action-btn .ink {
  width: 50px;
  height: 50px;
}

.pmd-floating-hidden {
  display: none;
}

/*# sourceMappingURL=floating-action-button.css.map */

/*!
 * Propeller Pro v1.6.0 (http://pro.propeller.in/): button.css
 * Copyright 2016-2020 Digicorp Information Systems Pvt. Ltd.
 * This software is covered by Propeller Pro Plan 1 License (License.txt)
 * Usage without proper license is prohibited.
 */
.btn {
  font-weight: 400;
  border-width: 1px;
  text-transform: uppercase;
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.1;
  border-radius: 0.125rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.pmd-ripple-effect:focus, .btn.pmd-ripple-effect.focus {
  box-shadow: none;
}

.btn.pmd-ripple-effect:not(:disabled):not(.disabled):active:focus, .btn.pmd-ripple-effect:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}

.btn.pmd-btn-raised {
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn.pmd-btn-raised:focus, .btn.pmd-btn-raised.focus {
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.btn.pmd-btn-raised:not(:disabled):not(.disabled):active:focus, .btn.pmd-btn-raised:not(:disabled):not(.disabled).active:focus {
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.btn.pmd-btn-fab {
  padding: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  min-width: 56px;
}

.btn.pmd-btn-fab span,
.btn.pmd-btn-fab i {
  line-height: 54px;
}

.btn.pmd-btn-fab.btn-lg {
  width: 78px;
  height: 78px;
  min-width: 78px;
}

.btn.pmd-btn-fab.btn-lg span,
.btn.pmd-btn-fab.btn-lg i {
  line-height: 76px;
}

.btn.pmd-btn-fab.btn-sm {
  width: 40px;
  height: 40px;
  min-width: 40px;
}

.btn.pmd-btn-fab.btn-sm span,
.btn.pmd-btn-fab.btn-sm i {
  line-height: 38px;
}

.btn.pmd-btn-fab.btn-xs {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.btn.pmd-btn-fab.btn-xs span,
.btn.pmd-btn-fab.btn-xs i {
  line-height: 28px;
}

.btn-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1e6ef2;
  border-color: #1266f1;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1266f1;
  border-color: #0e60e9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.5);
}

.btn-primary .ink {
  background-color: #1266f1;
}

.btn-primary.pmd-btn-flat {
  color: #4285f4;
  background-color: transparent;
  border-color: transparent;
}

.btn-primary.pmd-btn-flat:hover {
  color: #4285f4;
  background-color: #e5e5e5;
}

.btn-primary.pmd-btn-flat:focus, .btn-primary.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-primary.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-primary.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-primary.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #4285f4;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-secondary {
  color: #fff;
  background-color: #20c997;
  border-color: #20c997;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #1ba87e;
  border-color: #199d76;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 201, 151, 0.5);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #199d76;
  border-color: #17926e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 201, 151, 0.5);
}

.btn-secondary .ink {
  background-color: #199d76;
}

.btn-secondary.pmd-btn-flat {
  color: #20c997;
  background-color: transparent;
  border-color: transparent;
}

.btn-secondary.pmd-btn-flat:hover {
  color: #20c997;
  background-color: #e5e5e5;
}

.btn-secondary.pmd-btn-flat:focus, .btn-secondary.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-secondary.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-secondary.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-secondary.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #20c997;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-success {
  color: #fff;
  background-color: #259b24;
  border-color: #259b24;
}

.btn-success:hover {
  color: #fff;
  background-color: #1e7c1d;
  border-color: #1b721a;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(37, 155, 36, 0.5);
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1b721a;
  border-color: #196718;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(37, 155, 36, 0.5);
}

.btn-success .ink {
  background-color: #1b721a;
}

.btn-success.pmd-btn-flat {
  color: #259b24;
  background-color: transparent;
  border-color: transparent;
}

.btn-success.pmd-btn-flat:hover {
  color: #259b24;
  background-color: #e5e5e5;
}

.btn-success.pmd-btn-flat:focus, .btn-success.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-success.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-success.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-success.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #259b24;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-info {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-info:hover {
  color: #fff;
  background-color: #038fce;
  border-color: #0286c2;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 169, 244, 0.5);
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #0286c2;
  border-color: #027db5;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 169, 244, 0.5);
}

.btn-info .ink {
  background-color: #0286c2;
}

.btn-info.pmd-btn-flat {
  color: #03a9f4;
  background-color: transparent;
  border-color: transparent;
}

.btn-info.pmd-btn-flat:hover {
  color: #03a9f4;
  background-color: #e5e5e5;
}

.btn-info.pmd-btn-flat:focus, .btn-info.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-info.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-info.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-info.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #03a9f4;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-warning {
  color: #333333;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #333333;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #333333;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-warning .ink {
  background-color: #d39e00;
}

.btn-warning.pmd-btn-flat {
  color: #ffc107;
  background-color: transparent;
  border-color: transparent;
}

.btn-warning.pmd-btn-flat:hover {
  color: #ffc107;
  background-color: #e5e5e5;
}

.btn-warning.pmd-btn-flat:focus, .btn-warning.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-warning.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-warning.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-warning.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #ffc107;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-danger {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}

.btn-danger:hover {
  color: #fff;
  background-color: #fb3c00;
  border-color: #ee3900;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.5);
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #ee3900;
  border-color: #e13600;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.5);
}

.btn-danger .ink {
  background-color: #ee3900;
}

.btn-danger.pmd-btn-flat {
  color: #ff5722;
  background-color: transparent;
  border-color: transparent;
}

.btn-danger.pmd-btn-flat:hover {
  color: #ff5722;
  background-color: #e5e5e5;
}

.btn-danger.pmd-btn-flat:focus, .btn-danger.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-danger.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-danger.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-danger.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #ff5722;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-light {
  color: #333333;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #333333;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #333333;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light .ink {
  background-color: #dae0e5;
}

.btn-light.pmd-btn-flat {
  color: #f8f9fa;
  background-color: transparent;
  border-color: transparent;
}

.btn-light.pmd-btn-flat:hover {
  color: #f8f9fa;
  background-color: #e5e5e5;
}

.btn-light.pmd-btn-flat:focus, .btn-light.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-light.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-light.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-light.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #f8f9fa;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark .ink {
  background-color: #1d2124;
}

.btn-dark.pmd-btn-flat {
  color: #343a40;
  background-color: transparent;
  border-color: transparent;
}

.btn-dark.pmd-btn-flat:hover {
  color: #343a40;
  background-color: #e5e5e5;
}

.btn-dark.pmd-btn-flat:focus, .btn-dark.pmd-btn-flat.focus {
  background-color: #e5e5e5;
}

.btn-dark.pmd-btn-flat .ink {
  background-color: #808080;
}

.btn-dark.pmd-btn-flat:not(:disabled):not(.disabled):active, .btn-dark.pmd-btn-flat:not(:disabled):not(.disabled).active {
  color: #343a40;
  background-color: #e5e5e5;
  border-color: transparent;
}

.btn-outline-primary {
  color: #4285f4;
  border-color: #4285f4;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}

.btn-outline-primary .ink {
  background-color: #4285f4;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #4285f4;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}

.btn-outline-secondary {
  color: #20c997;
  border-color: #20c997;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #20c997;
  border-color: #20c997;
}

.btn-outline-secondary .ink {
  background-color: #20c997;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #20c997;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #20c997;
  border-color: #20c997;
}

.btn-outline-success {
  color: #259b24;
  border-color: #259b24;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #259b24;
  border-color: #259b24;
}

.btn-outline-success .ink {
  background-color: #259b24;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #259b24;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #259b24;
  border-color: #259b24;
}

.btn-outline-info {
  color: #03a9f4;
  border-color: #03a9f4;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-outline-info .ink {
  background-color: #03a9f4;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #03a9f4;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  color: #333333;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning .ink {
  background-color: #ffc107;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active {
  color: #333333;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-danger {
  color: #ff5722;
  border-color: #ff5722;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}

.btn-outline-danger .ink {
  background-color: #ff5722;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ff5722;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #333333;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light .ink {
  background-color: #f8f9fa;
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active {
  color: #333333;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark .ink {
  background-color: #343a40;
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-default.pmd-btn-flat {
  color: #333333;
}

.btn-default.pmd-btn-outline {
  color: #333333;
  border-color: #333333;
}

.btn-default.pmd-btn-outline:hover, .btn-default.pmd-btn-outline:focus {
  border-color: #333333;
}

.btn-lg {
  padding: 0.625rem 1rem;
  font-size: 1.25rem;
  line-height: 1.3;
  border-radius: 0.125rem;
}

.btn-sm {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.125rem;
}

.pmd-ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -ms-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 1;
}

.ink.animate {
  animation: ripple .5s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.btn-group .btn {
  border-radius: 2px;
}

.btn-group.open .dropdown-toggle {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: 0;
}

.btn-group > .btn:focus:hover,
.btn-group-vertical > .btn:focus:hover,
.btn-group > .btn:active:hover,
.btn-group-vertical > .btn:active:hover,
.btn-group > .btn.active:hover,
.btn-group-vertical > .btn.active:hover {
  z-index: 2;
}

/*# sourceMappingURL=button.css.map */