$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@font-face {
  font-family: "Southam";
  src: url(../fill-and-sign/fonts/SouthamDemo.otf);
}

@font-face {
  font-family: "AuthenticSignature";
  src: url(../fill-and-sign/fonts/AuthenticSignature.ttf);
}

@font-face {
  font-family: "HolligateSignature";
  src: url(../fill-and-sign/fonts/HolligateSignatureDemo.ttf);
}

@font-face {
  font-family: "Richness";
  src: url(../fill-and-sign/fonts/RichnessDemoRegular.ttf);
}

@font-face {
  font-family: "ShorelinesScript";
  src: url(../fill-and-sign/fonts/ShorelinesScriptBold.otf);
}

body {
  background-color: #949494;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 2;
}

.form-check {
  position: relative;

  &-input {
    position: initial;
  }

  &-label {
    position: absolute;
  }

  &-indicator {
    --size: #{em(14)};

    display: none;
    width: var(--size);
    height: var(--size);
    justify-content: center;
    align-items: center;
    cursor: default;

    // font should be similar to field inputs
    font-size: #{em(12)};
    font-family: monospace;
  }
}

.docusignField {
  &--focused {
    --border-style: dotted;
  }

  &--notRequired {
    input {
      --border-color: #bbb;
    }
  }

  &--readOnly {
    input {
      --border-color: #bbb;
      background-color: #cecece;
    }
  }

  &--formula {
    input {
      border: none !important;
    }
  }
}

.signing {
  --border-style: solid;

  margin-top: 80px;
  margin-bottom: 50px;

  input,
  select {
    font-size: #{em(12)};
    font-family: monospace;
    border: #{em(2)} var(--border-style) var(--border-color, #bf1e2e);
    outline: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    // outline: #{em(2)} var(--border-style) #bf1e2e;
  }

  &--finished,
  .completed {
    user-select: none;
    pointer-events: none;
    border-color: transparent;
    background-color: transparent;

    input,
    select,
    .signing__fieldSignature,
    .signing__fieldAttachment {
      border: 0;
      cursor: initial;
      background-color: inherit;
    }

    input[type="checkbox"],
    input[type="radio"] {
      outline: 0;

      &:not(:checked) {
        display: none;
      }
    }

    input[value=""],
    input:not([value]) {
      display: none;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .signing__fieldAttachment,
    button[data-action="finish"] {
      display: none !important;
    }

    .signing__readonly {
      display: block;
    }

    .signing__header {
      justify-content: center;
    }

    .form-check {
      padding: 0;

      &-input {
        display: none;

        &:checked + .form-check-indicator {
          display: inline-flex;
        }
      }
    }
  }

  &__documentPDF {
    overflow: hidden;
  }

  &__readonly {
    display: none;
  }

  &__header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: flex-end;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    z-index: 1;

    .btn {
      margin: 0 !important;
    }
  }

  &__documentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;

    canvas {
      width: 100%;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
    }
  }

  &__documentPage {
    position: relative;
  }

  &__fieldSignature,
  &__fieldAttachment {
    --size: #{em(60)};
    --size-svg: #{em(30)};

    height: var(--size);
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: #{em(2)} solid #bf1e2e;
    cursor: pointer;

    svg {
      width: var(--size-svg);
      height: var(--size-svg);
    }

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: inherit;
    }
  }

  &__fieldSignature {
    --size-svg: #{em(35)};
  }

  &__signaturePad {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;

    canvas {
      border: 1px solid #ece3e3;
      margin: 0 !important;
    }

    a {
      align-self: flex-end;
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  &__signatureInput {
    font-family: "Southam";
    height: 200px;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none !important;
    color: #000 !important;

    &::-webkit-input-placeholder {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 20px;
    }

    &[data-font="font-1"] {
      font-family: "Southam";
    }

    &[data-font="font-2"] {
      font-family: "AuthenticSignature";
      font-size: 80px;
    }

    &[data-font="font-3"] {
      font-family: "HolligateSignature";
      font-size: 50px;
    }

    &[data-font="font-4"] {
      font-family: "Richness";
      font-size: 50px;
    }

    &[data-font="font-5"] {
      font-family: "ShorelinesScript";
      font-size: 50px;
    }
  }

  .dropdown {
    .btn {
      padding: 0 5px;
    }
  }
}

.fillAndSign__signatureDraw {
  max-height: #{em(40)};
}
