.library {
  &__title {
    font-family: Sarabun, sans-serif !important;
    font-weight: 600 !important;
    font-size: 28px !important;
  }

  .alert-warning {
    color: #f8b425;
    background-color: #fdeac3;
  }

  &__row {
    margin-left: 0 !important;
  }
}
