[wrapper__section] {
  padding: 15px 20px !important;
}

.settings {
  --color-link: #0077c5;

  &__back a {
    color: var(--color-link);

    .fa {
      margin-right: 3px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    color: var(--color-link);
    font-weight: 700;

    &:active,
    &:visited {
      color: var(--color-link);
    }
  }

  &__btn {
    --size: 40px;
    --color: rgb(57, 58, 61);
    --color-bg-hover: #e4e4e4;

    outline: 0;
    background-color: transparent;
    color: var(--color);
    padding: 0;

    border: 2px solid;
    height: var(--size);
    padding: 0 16px;
    border-radius: var(--size);
    font-weight: 700;

    &:hover {
      background-color: var(--color-bg-hover);
    }

    &--icon {
      padding: 0;
      width: var(--size);
      border-color: transparent;
      font-size: 18px;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__dropdown {
    position: relative;

    .settings__dropdownOptions {
      display: none;
      position: absolute;
      right: 0;
      top: calc(100% + 5px);
      background-color: #fff;
      width: max-content;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 5px 10px;
    }

    .settings__dropdownOptionsItem {
      padding: 5px 8px;
    }

    &--active {
      .settings__btn {
        background-color: #e4e4e4;
      }

      .settings__dropdownOptions {
        display: block;
      }
    }
  }

  &__title {
    font-family: Sarabun, sans-serif;
    font-size: 1.75rem;
    font-weight: 600;

    &--secondary {
      font-size: 25px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--table {
      padding: 20px 0;
    }
  }

  &__spacer {
    height: 30px;
    display: block;
  }

  &__table {
    &Head {
      text-transform: uppercase;
      font-weight: 700 !important;
    }
  }
}

.sidebarForm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1041;
  visibility: hidden;
  transition: visibility 0s;
  transition-delay: 0.3s;

  &__inner {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    max-width: 500px;
    background-color: #fff;
    padding: 16px;
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
    border: 1px solid #d4d7dc;

    transform: translateX(100%);
    transition: transform 0.3s;
  }

  &--show {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    transition-delay: 0s;

    .sidebarForm__inner {
      transform: translateX(0);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
  }

  &__title--small {
    font-size: 16px;
  }

  &__total {
    font-size: 17px;
  }

  &__close {
    padding: 0;
    outline: 0;
    background-color: transparent;
    border: 0;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .form-group {
    margin-bottom: 1rem !important;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px;
    background-color: #f5f5f5;
  }

  .btn {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__message {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 16px;
    border: 1px solid #38a4f8;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__messageIcon {
    color: #38a4f8;
    font-size: 20px;
  }

  &__messageText {
    position: relative;
    top: -5px;
  }

  .form-group--error {
    input,
    button,
    select {
      border-color: #ec4561 !important;
    }
  }
}

.btnGroup {
  --color-link: #0077c5;

  &__main {
    color: var(--color-link);
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-link);
    }
  }

  .dropdown-toggle {
    font-size: 18px;
    color: #333;

    &:hover,
    &:active,
    &:focus {
      columns: #333;
    }
  }

  .dropdown-item {
    font-size: 15px;
  }
}

.row {
  &--inactive {
    --color: #b8b8b8;
    color: var(--color);
    font-style: italic;

    &:hover {
      color: var(--color) !important;
    }
  }
}
