.bg-orange {
    background-color: #FF5722 !important;
}

.bg-violet {
    background-color: #551A8B !important;
}

.bg-sky-blue {
    background-color: #5E75F1 !important;
}

.bg-persian-green {
    background-color: #009999 !important;
}

.bg-persian-green-fields {
    border: 1px solid #009999 !important;
}

.bg-persian-green-button {
    background-color: #004D99 !important;
}

.bg-green {
    background-color: #7DBD78 !important;
}

.bg-green-fields {
    border: 1px solid #7DBD78 !important;
}

.bg-green-button {
    background-color: #565CAC !important;
}

.bg-san-marino-blue {
    background-color: #4C6BB5 !important;
}

.bg-san-marino-blue-fields {
    border: 1px solid #4C6BB5 !important;
}

.bg-san-marino-blue-button {
    background-color: #E8BC63 !important;
}

.bg-mulberry {
    background-color: #C55D8B !important;
}

.bg-mulberry-fields {
    border: 1px solid #C55D8B !important;
}

.bg-mulberry-button {
    background-color: #5D8BC5 !important;
}

.bg-valencia {
    background-color: #D64550 !important;
}

.bg-valencia-fields {
    border: 1px solid #D64550 !important;
}

.bg-valencia-button {
    background-color: #FFCC00 !important;
}

.bg-sandy {
    background-color: #F39E59 !important;
}

.bg-sandy-fields {
    border: 1px solid #F39E59 !important;
}

.bg-sandy-button {
    background-color: #479ECA !important;
}

.bg-terracotta {
    background-color: #E07A5F !important;
}

.bg-terracotta-fields {
    border: 1px solid #E07A5F !important;
}

.bg-terracotta-button {
    background-color: #E59681 !important;
}

.bg-comet {
    background-color: #605F7D !important;
}

.bg-comet-fields {
    border: 1px solid #605F7D !important;
}

.bg-comet-button {
    background-color: #B39FF9 !important;
}

.bg-jungle {
    background-color: #2A9D8F !important;
}

.bg-jungle-fields {
    border: 1px solid #2A9D8F !important;
}

.bg-jungle-button {
    background-color: #F4A261 !important;
}

.bg-light-brown {
    background-color: #EAC66C !important;
}

.bg-light-brown-fields {
    border: 1px solid #EAC66C !important;
}

.bg-light-brown-button {
    background-color: #EE9A5F !important;
}

.bg-dark-theme {
    background-color: #455058 !important;
}

.bg-dark-theme-heading {
    background-color: #283036 !important;
    border: 1px solid #283036;
}

.bg-dark-theme-fields {
    background-color: #323B42 !important;
    border: 1px solid #323B42 !important;
}

.bg-dark-theme-button {
    background-color: #7AB2B5 !important;
}