#fb-table #table-container .table thead {
    color: white;
}

.form-table-row-controls{
    bottom: 0;
    left: 0;
    float: left;
    display: none;
}

.form-element-controls > .btn-group{
    width: 340px;
    z-index: 6;
    position:absolute;                  
    bottom:-30px;                          
    left:0;     
    display: none;
}

.FormattedText .form-element-controls > .btn-group {
    bottom: -15px !important;
}

.form-element-controls > .element-handle, .form-element-controls > .contained-element-handle{
    width: 25px;
    height: 25px;
    padding: 5px;
    z-index: 6;
    position:absolute;                  
    top: 5px;
    right: 5px; 
    display: none;
    color: white;
    /* background-color: #32243d; */
}

.form-element-controls > .element-handle > i, .form-element-controls > .contained-element-handle > i{
    margin: auto;
    display: block;
}

.form-element-controls:hover > .btn-group, .form-element-controls:hover > .element-handle, .form-element-controls:hover > .contained-element-handle {
    display: block;
}

.form-element-controls {
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: move;
}

.form-element-controls:hover:not(.ui-sortable-helper) {
    background-color: rgba(0, 0, 0, 0.2);
}

.form-element {
    display: block;
    position: relative;
}

.form-element:hover:not(#formContainer .form-element) {
    border: 1px solid #626ed4;
}

.form-elements-template {
    height: 50px !important;
    margin: 3px 0px;
    display: table-cell;
    vertical-align: middle;
}

.item-type {
    border: 1px solid #626ed4;
    cursor: pointer;
    font-family: inherit;
    overflow: hidden;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #626ed4;
    border-radius: 10px;
    width: 50%;
}

.form-elements-template.hover {
    /* background-color: #6472f0;
    border: 1px solid #6472f0; */
    cursor: move;
}

.item-type-table {
    width: 100%;
    border-collapse: separate;
    padding-bottom: 10px;
}

div#blankFormPlaceHolder {
    border: 2px dashed;
    border-radius: 1em;
    cursor: default;
    font-size: 24px;
    padding: 50px 30px;
    opacity: .6;
    text-align: center;
}

#formBuilderContainer, #formContainer, #formRulesContainer {
    padding: 20px;
    border: 2px solid lightgray;
    margin: 50px 100px;
}

.placeholder-hor {
    border: 0;
    border-left: 8px solid #626ed4;
    height: 100%;
    max-height: 100px;
    min-height: 50px;
    float: left;
}

.submenu > div {
    max-height: 200px;
    overflow-y: scroll;
}

#elementSettingsModal textarea{
    min-height: 100px;
    max-height: 100px !important;
}

.element-setting-container {
    display: none;
}

#styleBuildTab .submenu {
    text-align: left;
    color: white;
    max-height: max-content !important;
    height: 500px !important;
}

#styleBuildTab .submenu > div{
    height: 500px !important;
    cursor: pointer;
    max-height: 500px !important;
}

.style-display-container:hover, .style-display-container.active{
    background-color: #32243d !important;
}

.height-1 {
    height: 10px !important;
}

.height-2 {
    height: 30px !important;
}

.height-3 {
    height: 80px !important;
}

.height-4 {
    height: 110px !important;
}

.height-5 {
    height: 210px !important;
}

.height-6 {
    height: 310px !important;
}

.height-7 {
    height: 410px !important;
}

.height-7 {
    height: 510px !important;
}

.form-header {
    display: flex;
    align-items:center;
    justify-content:left;
}

.ke-btn-tray {
    height: auto !important;
}

.sidebar-title {
    width: 100%; 
    border-bottom: 1px solid rgba(94, 92, 92, .5); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .sidebar-title span { 
    background: #fff;
    padding: 0 5px;
    margin-left: 7px;
 }

 .sidebar-container {
     max-height: 85vh !important;
     overflow-y: scroll;
 }

 .folder-tr {
     cursor: pointer;
 }

 .folder-tr:hover, .folder-tr.active {
    background-color:rgb(186, 189, 190) !important;
 }

 .folder-tr.active .btn {
    display: inline-block;
 }

 .folder-tr .btn {
    display: none;
 }

 .tall-anchor {
    display: flex;
    align-items: center;
    justify-content:center;
 }

 .favorite-indicator {
     cursor: pointer;
 }

 .signature-canvas {
     height: 160px !important;
     width: 100% !important;
 }

 div.code {
    white-space: nowrap;
}
.code {
    background: #F3F7FB;
    border: 1px solid rgba(98, 142, 166, 0.4);
    border-radius: 4px;
    color: #466D82;
    cursor: text;
    font-style: normal;
    overflow: auto;
    padding: 10px 15px;
}

.container-block {
    background-color: lightgray;
    min-height: 100px;
    padding: 4px;
<<<<<<< HEAD
=======
}

#customStyleInputControls select{
    height: fit-content !important;
}

.submit-button-element {
    color: #fff;
    background-color: #32243d;
}

#formBuilderContainer {
    max-height: 80vh;
    overflow-y: scroll;
    padding-bottom: 80px;
}

.container-block .LongAnswer textarea {
    /* height: 90% !important; */
}

.color-placeholder {
    border: 1px solid gray;
    height: 46px;
    width: 46px;
}

.thumb-wrap {
    border: 1px solid transparent;
    cursor: pointer;
    float: left;
    margin: 5px 1px 5px 0;
    padding: 1px 1px 4px;
}

.thumb-wrap:hover {
    background: gray;
}

.thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 3px;
    height: 80px;
    width: 100%;
}

.thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
>>>>>>> 0ef1e6ecd53eec5ee93a05253a014f84e36d84ff
}