h1, .breadcrumb-item, h5, .tbl-employee-name, p, .qUickStartde > span, .header-title, a, .modal-title{
    font-family: Sarabun, sans-serif !important;
}

.pointer{
    cursor: pointer;
}

.dynamic-widget .card{
    height: 400px !important
}

.card-header{
    border-bottom: 1px solid gray !important;
    font-family: Sarabun, sans-serif !important;
}

.card-body h6{
    font-size: 16px;
    font-family: Open sans, Lato, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.card-body .job-status{
    width:100%;
    background:#a5d8ff;
    color: rgb(33, 150, 243);
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin-top:10px;
}

.card-body .job-caption{
    color: #616161;
    font-size: 10px;
    font-family: Roboto, Lato, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
}
.smart__grid{
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 78vh;
    padding: 10px;
}
.smart__grid > div{
    background: #f2f2f2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_widget_header > div.wid_header
{
    width: 400px; 
    border: 1px solid #58c04e; 
    background: #58c04e; 
    color:white;  
    border-radius: 10px; 
    text-align: center;
    padding: 5px;
    position: relative;
    margin: 0 auto;
    top: 21px;
    z-index: 1000;
}

.widget_header > div.wid_header
{
    width: 300px; 
    border: 1px solid #58c04e; 
    background: #58c04e; 
    color:white;  
    border-radius: 10px; 
    text-align: center;
    padding: 5px;
    position: relative;
    margin: 0 auto;
    top: 21px;
    /*z-index: 1000;*/
}

.techLeadDetails > div{
        width: 180px !important;
}

@media screen and (max-width: 2400px) {
    .shortcuts > div > div > img
    {
        width:80% !important;
        margin: 0 auto !important;
    }

    .shortcuts > div > div > p 
    {
        font-size: 15px !important;
    }
    
    
    .widget_header > div.wid_header
    {
        width: 300px !important; 
        top:21px;
        z-index: 1020;
    }
}

@media screen and (max-width: 1920px) {
    .shortcuts > div > div > img
    {
        width:100% !important;
        margin: 0 auto !important;
    }

    .shortcuts > div > div > p 
    {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 1440px) {

    .techLeadDetails > div.progress{
        width: 140px !important;
    }
    .techLeadDetails > div.jobs{
        width: 50px;
    }
    
    .notification-list .nav-link{
        padding: 0 5px !important;
    }
    .nav-user img{
        width: 55px;
        height: 55px;
    }
    
    .icons-list-navbar{
        margin-right: 9px !important;
    }
    
    .widget_header
    {
        padding: 5px !important;
    }
    
    .dynamic-widget .card
    {
        width:90% !important;
        margin: 0 !important;
    }
    
    .main_widget_header > div.wid_header
    {
        width: 320px !important; 
        top:21px;
        z-index: 1020;
        margin: 0 auto;
    }
    
    .widget_header > div.wid_header
    {
        width: 200px !important; 
        top:21px;
        z-index: 1020;
        margin: 0 50px;
    }

    .shortcuts > div > div > img
    {
        width:100% !important;
        margin: 0 auto !important;
    }

    .shortcuts > div > div > p 
    {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 1320px) {

    .icons-list-navbar{
        margin-right: 3px !important;
    }
    .navigation-menu li{
        margin-right: 0px !important;
    }
    
}
