.login-page, .register-page{
  background-color: #ecf0f1;
    overflow-y: hidden;
}

.login-box, .register-box{
  margin: 5% auto;
}

.login-box-body, .register-box-body{
  padding: 22px 20px 30px 20px;
  color: #303030;
  box-shadow: 0 0 80px rgba(0,0,0,.05);
}

.login-background{
	background-image: url('../img/login-bg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.mr-top-6 {
  margin-top: 6px !important;
}

.mr-bottom-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.icheckbox_square-blue {
  margin-right: 6px !important;
}

a.login-social {
  padding: 7px 10px;
  font-size: 14px;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
}
a.login-social:hover {
  color: white;
}
.fb-color {
  background: #037afe;
  color: white;
}

.google-color {
  background: #d44a3d;
  color: white;
}

.login-background:after{
	content: '';
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: -1;
}

.login-page-side .login-box{
  margin: auto;
  right: 0;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 450px;
}

.login-page-side .login-box .login-box-body{
	height: 100%;
	padding: 150px 60px;
}

@media (max-width: 767px) {
  .centered {
    position: fixed !important;
    left: 5% !important;
    top: 20% !important;
  }
}

@media (max-height: 568px) {
  .centered {
    position: fixed !important;
    left: 5% !important;
    top: 11% !important;
  }
}
