.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: var(--timeline-item-color, hsl(0, 0%, 90%));
  left: -36px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  content: "";
}

.timeline .timeline-item:last-child:after {
  bottom: 0 !important;
  top: auto;
}

.timeline .timeline-item.active:after {
  background-color: #6a4a86;
}

.nsm-text.primary {
  color: #6a4a86 !important;
}

.nsm-text.secondary {
  color: rgb(106, 108, 111) !important;
}

.dropdown-menu.workflow {
  width: 300px;
}

.dropdown-menu.show {
  display: block !important; 
}

.dropdown-menu {
  display: none; 
  position: absolute; 
  top: 100%;
  left: 0; 
  z-index: 1050; 
}

.time-dropdown-container {
  position: relative;
}
.entity-dropdown-container {
  position: relative;
}
.event-dropdown-container {
  position: relative;
}
.status-dropdown-container {
  position: relative;
}
.operation-dropdown-container {
  position: relative;
}
.target-dropdown-container {
  position: relative;
}
.action-dropdown-container {
  position: relative;
}
.date-dropdown-container {
  position: relative;
}

#eventDropdownMenu .active {
  background-color: #6a4a86; /* Change to your desired color */
  color: white; /* Change text color */
}

.list-group-item.active {
  background-color: #6a4a86 !important;
  border-color: #6a4a86 !important;
}
.text-underline {
  text-decoration: underline;
}
/* EMAIL  */
