div.form-dark-theme {
    background-color: #455058 !important;
    color: #f8f9fa !important;
}

.form-dark-theme .form-header {
    background-color: #283036 !important;
}

form.form-dark-theme button {
    background-color: #7AB2B5 !important;
}

.form-dark-theme input,
.form-dark-theme textarea,
.form-dark-theme select,
.form-dark-theme .Signature.form-element div.container {
    color: #f8f9fa !important;
    border-color: #323B42 !important;
    background-color: #323B42 !important;
}

.form-dark-theme .Signature.form-element div.container button {
    color: #f8f9fa !important;
}
