.form-dark .form-header, form.form-dark button {
    background-color: #343a40/* !important */;
}

.form-dark div.Signature div.container button {
    background-color: #343a40 /* !important */;
    color: #fff /* !important */;
}