.form-light .form-header, form.form-light button, .form-light div.Signature div.container button {
    background-color:#f8f9fa /* !important */;
    color: #2a3142  /* !important */;
}

.form-light .form-header h3 {
    color: #2a3142  /* !important */;
}