.form-light-brown .form-header {
    background-color:#EAC66C /* !important */;
}

form.form-light-brown button, .form-light-brown div.Signature div.container button {
    background-color: #EE9A5F /* !important */;
    color: #fff /* !important */;
}

.form-light-brown input, .form-light-brown textarea, .form-light-brown select, .form-light-brown div.Signature div.container {
    border-color: #EAC66C /* !important */;
}