.form-orange .form-header {
    background-color:#FF5722  /* !important */;
}

form.form-orange button, .form-orange div.Signature div.container button {
    background-color:#f8b425  /* !important */;
    color: #2a3142  /* !important */;
}