.form-persian-green .form-header {
    background-color:#009999 !important;
}

form.form-persian-green button {
    background-color: #004D99 !important;
}

.form-persian-green input, .form-persian-green textarea, .form-persian-green select {
    border-color: #009999 !important;
}