.form-sky-blue .form-header, form.form-sky-blue button {
    background-color:#5E75F1  /* !important */;
}

.form-sky-blue div.Signature div.container button {
    background-color:#5E75F1  /* !important */;
    color: #fff  /* !important */;
}