.form-warning .form-header, form.form-warning button {
    background-color:#f8b425 !important;
}

.form-warning div.Signature div.container button {
    background-color: #f8b425 !important;
    color: #fff !important;
}