.taxRateSelect {
  position: relative;

  &__main {
    border: 0;
    outline: 0;
    width: 100%;
    border-radius: 2px;
    height: 46px;
    border: 2px solid #e0e0e0;
    background-color: #fff;
    text-align: left;
    padding: 0 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa {
      color: #8f8f8f;
    }
  }

  &__options {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(212, 215, 220);
    border-radius: 4px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
  }

  &__item {
    padding: 8px 0.75rem;
    cursor: pointer;
    font-size: 15px;

    &:not(.taxRateSelect__item--customWrapper):hover {
      background-color: #ebebeb;
    }

    &--customWrapper {
      padding: 0;

      .fa {
        color: #2ca01c;
      }
    }

    &--custom {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 0.75rem;
  }

  &--open {
    .taxRateSelect__options {
      display: block;
    }
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
