.grid-mb{
	margin-bottom: 12px;
}

.grid-row-mb{
	margin-bottom: 1rem;
}

.nsm-bxshadow{
	box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.11);
	-webkit-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.11);
	-moz-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.11);
}

.general-transition{
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

.content-title{
	font-size: 15px;
	font-weight: bold;
	line-height: 1.3;
	display: block;
}

.content-subtitle{
	font-size: 13px;
	line-height: 1;
}

.nsm-badge{
    padding: 1px 10px;
    border-radius: 10px;
    width: max-content;
    font-size: 10px;
    font-weight: bold;
	white-space: nowrap;
	background-color: #78787824;
    color: #888888;
}

.nsm-badge.badge-circle{
	border-radius: 100px;
}

.nsm-badge.big{
	font-size: 14px;
}

.nsm-badge.success{
	background-color: #19875459;
	color: #198754;
}

.nsm-badge.error{
	background-color: #d7495759;
    color: #dc3545;
}

.nsm-badge.primary{
	background-color: #6a4a8624;
    color: #6a4a86;
}

.nsm-badge.secondary{
	background-color: #fbedcb;
    color: #c7951c;
}

.nsm-text-success{
	color: #198754;
}

.nsm-text-error{
	color: #dc3545;
}

.nsm-text-primary{
    color: #212529;
}

.nsm-text-secondary{
    color: #888888;
}

.nsm-grid{
	cursor: move;
	background-color: #fff;
}

.nsm-grid.over{
	border: 2px dashed #666;
}

.nsm-grid-drag{
	cursor: move;
}

.nsm-link{
	color: #549cde;
	text-decoration: none !important;
	cursor: pointer !important;
}

.nsm-link.default{
	color: inherit !important;
}

.nsm-img{
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
	min-height: 150px;
}

.nsm-divider{
	display: inline-block;
    border-radius: 5px;
    height: 6px;
    width: 100px;
	margin-top: .8rem;
}

.nsm-divider.dot{
	width: 6px;
}

.nsm-divider.green{
    background-color: #53b700;
}

.nsm-divider.orange{
    background-color: #ff8000;
}

.cursor-pointer{
	cursor: pointer !important;
}

.nsm-alert{
	padding: 1rem;
	border: 1px solid #bbbbbb29;
	background-color: #9f9f9f2e;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.nsm-alert > button, .nsm-callout > button{
	border: unset;
	background: none;
	outline: none !important;
	line-height: 0;
	font-size: 18px;
	float: right;
	padding: unset;
	margin-left: 1rem;
}

.nsm-alert.success{
	background-color: #1987542e;
    border-color: #19875429;
	color: #198754;
}

.nsm-alert.success > button{
	color: #198754;
}

.nsm-alert.error{
	background-color: #d749572e;
    border-color: #dc354529;
	color: #dc3545;
}

.nsm-alert.error > button{
	color: #dc3545;
}

.nsm-alert.warning{
	background-color: #e6c5762e;
    border-color: #dcae3f29;
	color: #c7951c;
}

.nsm-alert.warning > button{
	color: #c7951c;
}

.disable-select{
	user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.nsm-callout{
    padding: 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.nsm-callout.warning{
	border-left-color: #e4d675 !important;
}

.nsm-callout.success{
	border-left-color: #198754 !important;
}

.nsm-callout.primary{
	border-left-color: #6a4a86 !important;
}

.nsm-callout.error{
	border-left-color: #dc3545 !important;
}

.nsm-callout > button{
	color: #727272;
}