#customer-single-modal {
    position: absolute;
    top: 248px;
    width: calc(100% - 262px);
    background: #ffffff;
    left: 260px;
    min-height: calc(100% - 250px);
    display: none;
    z-index: 1;
    font-size: 15px;
}

#customer-single-modal a {
    color: #2182C9;
    font-weight: lighter;
}

#customer-single-modal .the-body {
    height: 100%;
}

#customer-single-modal .the-body .row {
    margin-left: 0;
    margin-right: 0;
}

#customer-single-modal .the-body .all-customer-section {
    border-right: solid 1px #D6E0ED;
}

#customer-single-modal .the-body .customer-list-section {
    padding: 0 10px;
    padding: 0 10px;
    height: calc(100vh - 392px);
    overflow: auto;
}

#customer-single-modal .the-body .customer-list-section ul {
    padding: 0 10px;
}

#customer-single-modal .the-body .customer-list-section ul li {
    font-size: 12px;
    padding: 5px 20px;
    color: #464646;
    border-bottom: solid 1px #D6E0ED;
}

#customer-single-modal .the-body .customer-list-section ul li:hover,
#customer-single-modal .the-body .customer-list-section ul li.active {
    background-color: #F9FAFB;
    cursor: pointer;
}

#customer-single-modal .the-body .customer-list-section ul li div.name {
    font-weight: 600;
}

#customer-single-modal .the-body .all-customer-section .top-section {
    padding: 20px 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #D6E0ED;
}

#customer-single-modal .the-body .all-customer-section .top-section .back a {
    color: #2182C9;
    font-weight: lighter;
}

#customer-single-modal .the-body .all-customer-section .top-section .close-add-btns {
    width: 100%;
    text-align: right;
    margin-top: -7px;
}

#customer-single-modal .the-body .all-customer-section .top-section .close-add-btns a {
    color: #3F4044;
    font-size: 20px;
    transition: 0.3s;
}

#customer-single-modal .the-body .all-customer-section .top-section .close-add-btns a:hover,
#customer-single-modal .the-body .all-customer-section .top-section .close-add-btns svg:hover {
    color: #2182C9;
    fill: #2182C9;
}

#customer-single-modal .the-body .all-customer-section .top-section .close-add-btns svg {
    fill: #7491AD;
    transition: 0.3s;
}

#customer-single-modal .the-body .all-customer-section .top-section .close-add-btns a {
    margin-left: 10px;
}

#customer-single-modal .the-body .all-customer-section .top-section .search-section {
    padding: 10px 0;
}

#customer-single-modal .the-body .all-customer-section .top-section .search-section .form-group {
    margin-bottom: 0!important;
}

#customer-single-modal .the-body .all-customer-section .top-section .search-section input[type="text"] {
    padding-right: 30px;
}

#customer-single-modal .the-body .all-customer-section .top-section .search-section span {
    position: absolute;
    color: #989898;
    right: 10px;
    top: 10px;
}

#customer-single-modal select,
#customer-single-modal input[type="text"],
#customer-single-modal input[type="email"],
#customer-single-modal input[type="number"],
#customer-single-modal input[type="date"],
#customer-single-modal textarea {
    font-size: 12px;
    font-weight: lighter;
    padding: 8px;
    height: auto;
    border: solid 1px #BABEC5!important;
    border-radius: 2px;
    width: 100%;
    resize: none;
    color: #333333;
}

#customer-single-modal input:focus,
#customer-single-modal select:focus,
#customer-single-modal textarea:focus {
    border-color: rgba(126, 239, 104, 0.8)!important;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset, 0 0 8px rgb(126 239 104 / 60%);
    outline: 0 none;
    box-shadow: none;
    border: solid 1px #80CF03!important;
    font-style: normal;
}

#customer-single-modal .single-customer-info-section {
    color: #393A3D;
    overflow: auto;
    height: calc(100vh - 249px);
}

#customer-single-modal .single-customer-info-section .top-section {
    background-color: #F4F5F8;
    padding: 20px 10px;
}

#customer-single-modal .single-customer-info-section .top-section .customer-name h2 {
    margin: 0;
    font-weight: lighter;
}

#customer-single-modal .single-customer-info-section .top-section .customer-name h2 label {
    position: absolute;
    top: 0;
    padding: 0 10px;
}

#customer-single-modal .single-customer-info-section .top-section .customer-name h2 label a {
    font-size: 15px;
    color: #7391AC;
    margin: 0 3px;
}

#customer-single-modal .single-customer-info-section .top-section .customer-name h2 label a:hover {
    color: #2182C9;
}

#customer-single-modal .single-customer-info-section .top-section .btns-section button.btn-default {
    background-image: none;
    box-shadow: none;
    border-right: none;
    font-size: 15px;
    padding: 7px 35px;
    height: auto;
    border: solid 1px #8D9096;
}

#customer-single-modal .single-customer-info-section .top-section .btns-section {
    height: 50px;
}

#customer-single-modal .single-customer-info-section .top-section .btns-section button.btn-success {
    background-image: none;
    background-color: #2CA01C;
    color: #FFFFFF;
    box-shadow: none;
    border-right: none;
    font-size: 15px;
    padding: 7px 25px;
    height: auto;
    border: solid 1px #2CA01C;
}

#customer-single-modal .single-customer-info-section .top-section .customer-address label {
    font-size: 15px;
}

#customer-single-modal .single-customer-info-section .top-section .monetary-section .group {
    height: 50px;
    margin-top: 10px;
}

#customer-single-modal .single-customer-info-section .top-section .monetary-section .monetary-open {
    padding: 0 10px;
    border-left: solid 5px #F2B835;
    width: 180px;
}

#customer-single-modal .single-customer-info-section .top-section .monetary-section .monetary-overdue {
    padding: 0 10px;
    border-left: solid 5px #CD5133;
    width: 180px;
}

#customer-single-modal .single-customer-info-section .top-section .monetary-section .monetary-overdue .label,
#customer-single-modal .single-customer-info-section .top-section .monetary-section .monetary-open .label {
    color: #7893AE;
    font-size: 12px;
}

#customer-single-modal .single-customer-info-section .body-section {
    padding: 20px 20px;
}

#customer-single-modal .single-customer-info-section .body-section .tabs-section {
    border-bottom: solid 3px #F1F1F1;
}

#customer-single-modal .single-customer-info-section .body-section ul.body-tabs {
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
    height: 53px;
}

#customer-single-modal .single-customer-info-section .body-section ul.body-tabs li {
    float: left;
    padding: 10px 0;
}

#customer-single-modal .single-customer-info-section .body-section ul.body-tabs li .labels {
    padding: 3px 20px;
    border-right: dashed 1px #999999;
}

#customer-single-modal .single-customer-info-section .body-section ul.body-tabs li:last-child .labels {
    border-right: none;
}

#customer-single-modal .single-customer-info-section .body-section ul.body-tabs li.active,
#customer-single-modal .single-customer-info-section .body-section ul.body-tabs li:hover {
    border-bottom: solid 4px #2CA01C;
    cursor: pointer;
}

#customer-single-modal .single-customer-info-section .body-section .seaction-above-table .batch-actiom-icon-holder {
    position: relative;
    padding-right: 10px;
}

#customer-single-modal .single-customer-info-section .body-section .seaction-above-table .batch-actiom-icon-holder img.batch-action-icon {
    width: 20px;
    float: left;
    position: inherit;
    bottom: -15px;
    margin-right: 15px;
    margin-left: 15px;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section {
    padding: 20px 0;
}

#customer-single-modal button.btn.btn-default {
    font-size: 13px;
    padding: 5px 25px;
    font-weight: 700;
    border: solid 2px #393A3D;
    height: auto;
    color: #393A3D;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table {
    padding: 20px 0;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

#customer-single-modal .single-customer-info-section .body-section .seaction-above-table .by-btach-btn {
    width: 215px;
    float: left;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table {
    width: 100%;
    border-bottom: solid 1px #C7C7C7;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table th:first-child,
#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table td:first-child {
    width: 100px;
    border-left: none;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table th:last-child,
#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table td:last-child {
    border-right: none;
    text-align: right;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table th {
    padding: 10px;
    border-right: solid 1px #D4D7DC;
    border-bottom: solid 2px #D4D7DC;
    color: #393A3D;
    font-size: 14px;
    font-weight: 600;
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 13px;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table td {
    padding: 0 10px;
    color: #393A3D;
    font-size: 13px;
    border-right: dotted 1px #C7C7C7;
    border-bottom: solid 1px #C7C7C7;
    height: 50px;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table tr:last-child td {
    border-bottom: solid 2px #C7C7C7;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table td {
    padding: 0 10px;
    color: #393A3D;
    font-size: 13px;
    border-right: dotted 1px #C7C7C7;
    border-bottom: solid 1px #C7C7C7;
    height: 50px;
}

#customer-single-modal .dropdown-menu li a {
    font-size: 13px;
    color: #2C2C2C;
}

#customer-single-modal .dropdown-menu li {
    padding: 5px 0;
}

#customer-single-modal .dropdown-menu li:hover,
#customer-single-modal .dropdown-menu li:hover a {
    color: #2CA01C;
    background-color: #ECEDF1;
}

#customer-single-modal .dropdown a .btn-label {
    padding: 10px;
    color: #2C2C2C;
}

#customer-single-modal .seaction-above-table .print-export-settings-btns button {
    height: auto;
    margin-left: 13px;
    background: none;
    border: 0;
    font-size: 25px;
    color: #BABEC5;
    transition: 0.3s;
}

#customer-single-modal .seaction-above-table .print-export-settings-btns button:hover {
    color: #393A3D;
}

#customer-single-modal .seaction-above-table .print-export-settings-btns .setting-btn-section {
    position: relative;
}

#customer-single-modal .seaction-above-table .print-export-settings-btns .setting-btn-section .settings-options {
    border: solid 1px #C7C7C7;
    text-transform: capitalize;
    position: absolute;
    right: -10px;
    top: 38px;
    background: #fff;
    color: #393A3D;
    padding: 10px 15px;
    font-size: 13px;
    width: 188px;
    z-index: 1;
}

#customer-single-modal .seaction-above-table .print-export-settings-btns .setting-btn-section .settings-options .achor-holder {
    width: 20px;
    position: absolute;
    top: -13px;
    right: 10px;
}

#customer-single-modal .seaction-above-table .print-export-settings-btns .setting-btn-section .settings-options .form-check {
    padding-left: 0;
}

#customer-single-modal .seaction-above-table .print-export-settings-btns .setting-btn-section .settings-options .form-check label {
    font-size: 13px;
    padding-top: 5px;
}

#customer-single-modal .single-customer-info-section .top-section .notes textarea {
    width: 300px!important;
    display: none;
    color: #333333;
}

#customer-single-modal .single-customer-info-section .top-section .notes textarea.notes-added {
    background-color: transparent;
    border: none!important;
}

#customer-single-modal .single-customer-info-section .top-section .notes textarea.notes-added:hover {
    background-color: #E3EAF3;
}

#customer-single-modal .single-customer-info-section .top-section .notes .saved-indicator {
    font-size: 11px;
    font-style: italic;
    color: #333333;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section.customer-details .customer-details-section .customer-info {
    padding: 10px 0;
    border-bottom: solid 1px #CCCCCC;
    font-size: 13px;
    display: flex;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section.customer-details .customer-details-section .customer-info .info-label {
    width: 150px;
    float: left;
    font-weight: 600;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section.customer-details .customer-details-section .customer-info .info-value {
    width: calc(100% - 150px);
    float: left;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section.customer-details .customer-details-section .file-upload {
    padding-left: 0;
    margin: unset;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section.customer-details .customer-details-section .file-upload button {
    border: none;
    background: transparent;
    height: auto;
    font-size: 13px;
    font-weight: 700;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section.customer-details .customer-details-section .file-upload .button-label {
    margin-left: 15px;
    font-size: 13px;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section.customer-details .customer-details-section .file-upload .drag-text {
    font-size: 13px;
}

#customer-single-modal .single-customer-info-section .body-section .filter-btn-section {
    position: relative;
}

#customer-single-modal .single-customer-info-section .body-section .filter-btn-section .filter-panel {
    width: 250px;
    position: absolute;
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    border: solid 1px #CACACA;
    padding-bottom: 20px;
    box-shadow: 3px 6px 20px #cacaca;
    top: 47px;
    z-index: 1;
    left: 0;
}

#customer-single-modal .single-customer-info-section .body-section .filter-btn-section .filter-panel .achor-holder {
    position: absolute;
    top: -13px;
    width: 20px;
    left: 35px;
}

#customer-single-modal .single-customer-info-section .body-section .filter-btn-section .filter-panel .btn-success {
    font-size: 13px;
    font-weight: 700;
    border: solid 1px #2CA01C;
    padding: 5px 20px;
    background: #2CA01C;
    border-radius: 24px;
    height: auto;
    margin-top: 15px;
    color: #ffffff;
}

#customer-single-modal .single-customer-info-section .body-section .filter-btn-section .filter-panel .form-group .label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

#customer-single-modal .single-customer-info-section .body-section .filter-btn-section .filter-panel .btn-success:hover {
    background-image: none;
    background-color: #108000;
}

#customer-single-modal .single-customer-info-section .body-section .tab-body-content-section .transaction-list-table table tbody tr:hover {
    background: #F4F5F8;
    cursor: pointer;
}