div#send-reminder-by-batch-modal {
    position: fixed;
    top: 0;
    z-index: 1059;
    width: 100%;
    height: 100vh;
    background: #00000082;
    display: none;
}

div#send-reminder-by-batch-modal.show {
    display: block;
}

#send-reminder-by-batch-modal .monal-body {
    background: #ffffff;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    font-size: 12px;
}

#send-reminder-by-batch-modal .close-btn {
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    padding: 10px;
    cursor: pointer;
}

#send-reminder-by-batch-modal .monal-body .modal-title h2 {
    font-size: 20px;
}

#send-reminder-by-batch-modal .monal-body .modal-title p {
    font-size: 12px;
}

#send-reminder-by-batch-modal .form-group .label {
    font-weight: 700;
    font-size: 13px;
    color: #333333;
}

#send-reminder-by-batch-modal .form-group {
    margin: 10px!important;
}

#send-reminder-by-batch-modal .form-group input,
#send-reminder-by-batch-modal .form-group textarea {
    padding: 10px;
    width: 100%;
    border: solid 1px #BABEC5;
    font-size: 12px;
    color: #333333;
    border-radius: 3px;
    resize: none;
}

#send-reminder-by-batch-modal .form-group input:focus,
#send-reminder-by-batch-modal .form-group textarea:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
    box-shadow: none;
    border: solid 1px #80CF03;
    font-style: normal;
}

#send-reminder-by-batch-modal .form-group input[name="to"] {
    font-weight: 600;
}

#send-reminder-by-batch-modal .send-reminder-modal-content {
    padding: 10px 0;
    border: solid 1px #0000000f;
    margin-bottom: 10px;
}

#send-reminder-by-batch-modal .form-group input[readonly],
#send-reminder-by-batch-modal .form-group input[readonly]:focus,
#send-reminder-by-batch-modal .form-group textarea[readonly],
#send-reminder-by-batch-modal .form-group textarea[readonly]:focus {
    border: none;
    border-color: none;
    box-shadow: none;
    outline: 0 none;
    box-shadow: none;
    font-style: normal;
}

#send-reminder-by-batch-modal .send-reminder-modal-footer button {
    padding: 5px 20px;
    height: auto;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

#send-reminder-by-batch-modal .error-found {
    font-size: 12px;
    padding: 20px;
    border: solid 1px #DC3B1E;
    display: none;
}

#send-reminder-by-batch-modal .error-found .error-title {
    color: #DC3B1E;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}