#time_activity_modal .modal-footer-check button[data-submit-type='save-new'],
#time_activity_modal .modal-footer-check button[data-toggle='dropdown'] {
    background-image: none;
    background-color: #2CA01C;
    color: #FFFFFF;
    box-shadow: none;
    border-right: none;
    font-size: 13px;
    border-radius: 28px 0 0 28px;
    padding: 5px 15px;
    height: auto;
    border: solid 1px #2CA01C;
    margin-right: -5px;
}

#time_activity_modal .modal-footer-check button {
    font-size: 12px;
    height: auto;
    padding: 5px 10px;
}

#time_activity_modal .modal-footer-check button[data-submit-type='save-new']:hover,
#time_activity_modal .modal-footer-check button[data-toggle='dropdown']:hover {
    background-image: none;
    background-color: #108000;
}

#time_activity_modal .modal-footer-check button.cancel-button:hover {
    background-color: #2A2B2D;
}

#time_activity_modal .modal-footer-check button.cancel-button {
    background-color: transparent;
    background: transparent;
    font-size: 13px;
    color: #ffffff;
    border: solid 1px #6A6C71;
    padding: 5px 25px;
    height: auto;
    border-radius: 15px;
    font-weight: 700;
}

#time_activity_modal .modal-footer-check button {
    font-size: 12px;
    height: auto;
    padding: 5px 10px;
}

#time_activity_modal .modal-footer-check .submit-submenu>li button {
    color: #333333;
}

#time_activity_modal .modal-footer-check .submit-submenu>li:hover,
#time_activity_modal .modal-footer .submit-submenu>li:hover {
    background-color: #ECEDF1;
    color: #008A00;
}

#time_activity_modal .modal-body {
    height: calc(100vh - 108px);
    overflow: auto;
}

#time_activity_modal form .form-group select,
#time_activity_modal form .form-group input[type="text"],
#time_activity_modal form .form-group input[type="email"],
#time_activity_modal form .form-group input[type="date"],
#time_activity_modal form .form-group input[type="time"],
#time_activity_modal form .form-group textarea {
    font-size: 12px;
    font-weight: lighter;
    padding: 8px!important;
    height: auto!important;
    border: solid 1px #BABEC5!important;
    border-radius: 2px;
    width: 200px!important;
    resize: none;
    display: block!important;
    visibility: visible;
    clip: auto!important;
    position: inherit!important;
    color: #404040;
}

#time_activity_modal form .form-group span.select2 {
    display: none;
}

#time_activity_modal form .form-group select:focus,
#time_activity_modal form .form-group textarea:focus,
#time_activity_modal form input[type="text"]:focus,
#time_activity_modal form .form-group input[type="password"]:focus,
#time_activity_modal form .form-group input[type="datetime"]:focus,
#time_activity_modal form .form-group input[type="datetime-local"]:focus,
#time_activity_modal form .form-group input[type="date"]:focus,
#time_activity_modal form .form-group input[type="month"]:focus,
#time_activity_modal form .form-group input[type="time"]:focus,
#time_activity_modal form .form-group input[type="week"]:focus,
#time_activity_modal form .form-group input[type="number"]:focus,
#time_activity_modal form .form-group input[type="email"]:focus,
#time_activity_modal form .form-group input[type="url"]:focus,
#time_activity_modal form .form-group input[type="search"]:focus,
#time_activity_modal form .form-group input[type="tel"]:focus,
#time_activity_modal form .form-group input[type="color"]:focus,
#time_activity_modal form .form-group input[type="email"]:focus,
.uneditable-input:focus {
    border: solid 1px #28A01A!important;
    box-shadow: none;
    outline: none;
}

#time_activity_modal form .form-group .label {
    float: left;
    padding: 10px 10px;
    width: 120px;
    text-align: right;
    font-size: 12px;
}

#time_activity_modal .billable-section,
#time_activity_modal .taxable-section {
    padding-left: 100px;
    height: 75px;
    margin-top: 10px;
}

#time_activity_modal form .form-check label span {
    font-size: 12px;
}

#time_activity_modal .billable-section .amount-part {
    float: left;
    margin-top: 10px;
}

#time_activity_modal form .form-field-part .form-group .label {
    text-align: left;
}

#time_activity_modal form .form-field-part .form-group input[type='time'],
#time_activity_modal form .form-field-part .form-group input[type='text'] {
    width: 110px!important;
    float: left;
}

#time_activity_modal form .form-sec.time-start-end .form-group {
    margin-bottom: 15px!important;
}

#time_activity_modal form .form-sec.time-start-end .form-group .label {
    width: auto;
}

#time_activity_modal form .form-sec.time-start-end .label-part {
    width: 100px;
    float: left;
    height: 200px;
    padding-top: 80px;
    text-align: right;
    padding-right: 10px;
}

#time_activity_modal form .form-group,
#time_activity_modal form .form-check {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#time_activity_modal form .form-sec .form-field-part .form-check {
    padding: 0;
}

#time_activity_modal form .form-sec .label-part {
    width: 100px;
    height: 10px;
    float: left;
    text-align: right;
    padding: 10px;
}

#time_activity_modal form .form-sec.time-start-end .label-part.no-height {
    height: auto;
    padding: 10px;
}

#time_activity_modal form .form-sec {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#time_activity_modal form .form-sec .form-field-part .form-group textarea[name="description"] {
    width: 100%!important;
    resize: vertical;
}

#time_activity_modal form .form-sec .form-field-part {
    width: calc(100% - 100px);
    float: right;
}

#time_activity_modal form {
    font-size: 12px;
}

#time_activity_modal form .form-sec .form-field-part .summary {
    padding: 10px 0;
}

#time_activity_modal form .form-sec.summary-sec .form-field-part {
    width: 100%;
}

#time_activity_modal .modal-header button.settings {
    background: transparent;
    border: none;
    font-size: 35px;
    height: auto;
    position: absolute;
    right: 83px;
    top: 5px;
    color: #7B7B7D;
}

#time_activity_settings_modal {
    width: 100%;
    position: absolute;
    height: 100vh;
    z-index: 1060;
    top: 0;
    background: #0000009e;
    display: none;
}

#time_activity_settings_modal .content {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    font-size: 13px;
    padding: 10px;
    color: #404040;
    box-shadow: -21px 0px 45px #282929;
}

#time_activity_settings_modal .content .close-button {
    position: absolute;
    right: 10px;
    width: 30px;
    top: 10px;
    cursor: pointer;
}

#time_activity_settings_modal .content .title {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

#time_activity_settings_modal .content .form-check label span {
    font-size: 12px;
}

#time_activity_modal form .form-sec.sumary-sec {
    display: none;
}