/*Booking Page CSS*/
.booking-tab-container{
    border-bottom: 1px solid #dedede;
    padding-left: 0;
}
.booking-tab{
    padding: 4px 16px;
    text-decoration: none;
    line-height: 28px;
    height: 36px;
    font-size: 14px;
    color: #6b6c72;
    position: relative;
    bottom: 3px;
}
.booking-tab:hover{
    color: #404040;
    text-decoration: none;
    border-bottom: 5px solid grey;
}
.row-fluid {
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-cs-group {
    margin-bottom: 35px;
}
.clear-both {
  clear: both;
}
.ml-cs-20 {
  position: relative;
  left: 16px;
}
.cs15-padding {
    padding: 0px 15px;
    position: relative;
    top: 25px;
    margin-bottom: 12px;
}
.booking-tab-active{
    padding: 9px 16px;
    border-bottom: 5px solid #498002;
    font-weight: bolder;
    text-decoration: none;
    line-height: 28px;
    height: 36px;
    font-size: 14px;
    color: #404040;
}
.booking-tab-active:hover{
    color: #404040;
    text-decoration: none;
}

.booking-sub-tab{
    text-decoration: none;
    color: #6b6c72;
    background-color: transparent !important;
}
.booking-sub-tab:hover{
    color: #6b6c72;
}
.booking-sub-active{
    background-color: transparent !important;
    border-bottom: 5px solid #498002 !important;
    font-weight: bolder;
    text-decoration: none;
    font-size: 14px;
    color: #404040;
}

.card .dashboard-container-1 {
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.card .dashboard-container-2 {
    padding-left: 25px;
}

.card .dashboard-container-2 .service-items {
    position: relative;
    min-height: 80px;
}

.card .dashboard-container-2 .service-items .service-item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.card .dashboard-container-2 .service-items .service-item-cnt {
    padding-left: 100px;
}

.margin-bottom-sec .product-edit__image-cnt {
    border: 1px solid #dcdbdc;
    width: 175px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 15px;
}

.table-time-slots .time-input {
    display: inline-block;
    width: 122px !important;
}

.hide{
  display: none;
}

.input-group-addon:last-child {
    border-left: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.col-sm-8 {
    max-width: 33.333333% !important;
}

.col-sm-12 {
    max-width: 50% !important;
    float: left;
}

.employees{
    list-style: none;
}
