.deal-stage-container .text-muted{
    font-size:13px !important;
}
#deal-forecast .nsm-card, #deal-stages .nsm-card{
    /* overflow-y: auto; */
}
#deal-forecast .nsm-card{
    /* height:calc(100% + 100px); */
}
.badge-success{
    color: #fff;
    background-color: #28a745;
    margin-left: 0px;
}
.nsm-card-won{
    background-color:#e9fbe7;
}
.nsm-card-won .nsm-button{
    /* border:1px solid #ffffff; */
}
.btn-nsm, .btn-nsm:hover{
    background-color:#6a4a86;
    color:#ffffff;
}
.mark-lost-form{
    text-align:left !important;
}
.swal2-html-container{
    overflow:hidden;
}
.btn-edit-deal-stage i, .btn-delete-deal-stage i{
    font-size:25px;
}   
.select2-selection--multiple .select2-search__field{
    width:auto !important;
}
.stage-quick-add-deal-btn{
    display:block;
    width:100%;   
    font-size:15px; 
}
.stage-create-deal-container{
    display:block;
    height:50px;
    width:100%;
}
.stage-deal-name{
    font-size:16px;
    font-weight:bold;
}
.stage-deal-title-container{
    display:block;
    margin-bottom:6px;
}
.stage-deals-actions a:hover{
    cursor:pointer !important;
}
.btn-edit-deal-stage, .btn-delete-deal-stage{
    color:#6a4a86 !important;
}
#view-customer-deals-container .bg-primary {
    background-color: #6a4a86 !important;
}
#view-customer-deals-container .card-header {
    color:#ffffff;
}
#view-customer-deals-container .bg-primary .card-body {
    background-color: #f7f7f9;
}
#view-customer-deals-container .details {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#view-customer-deals-container .details li {
    font-size: 17px;
    display: inline-block;
    width: 49%;
    margin-bottom: 0px;
    vertical-align: top;
}
.customer-deals-view-details .label{
    font-weight:bold;
    font-size:15px;
}
.view-customer-deals-actions button{
    display:inline-block;
    width:92px;
}
.view-customer-deals-actions i{
    position: relative;
    top: 1px;
}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 23px;
    line-height: 40px !important;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #6a4a86
}

.steps .step.completed .step-icon {
    border-color: #6a4a86;
    background-color: #6a4a86;
    color: #fff
}

@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none;
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none;
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none;
    }
}
#view-customer-deals-container .card-header i{
    position:relative;
    top:2px;
}
#customer-deal-lost{
    display:block;
    color:#721c24;
    /* background-color:#f8d7da; */
    padding:10px;
    text-align:center;
    border-style: dashed;
}
#customer-deal-won{
    display:block;
    color:#155724;
    /* background-color:#d4edda; */
    padding:10px;
    text-align:center;
    border-style: dashed;
}
#customer-deal-delete{
    display:block;
    color:#383d41;
    /* background-color:#e2e3e5; */
    padding:10px;
    text-align:center;
    border-style: dashed;
}
.lost-container {
    border-style: solid !important;
    background-color:#f8d7da;
}
.won-container {
    border-style: solid !important;
    background-color:#d4edda;
}
.delete-container {
    border-style: solid !important;
    background-color:#e2e3e5;
}
.deal-stage-summary{
    font-weight:bold;
}
.btn-create-schedule-activity{
    display: block;
    border: none;
    font-size: 16px;
    padding: 5px;
    margin: 0px;
}
.autocomplete-container {
    position: relative;
}
.activity-card{
    border-top:1px solid #dee2e6;
    padding:11px;
    z-index:8000;
}
.activity-name{
    font-weight:bold;
}
.activity-notes{
    display:block;
    margin-top:5px;
    background-color:#e2e3e5 !important;
    border-color:#d6d8db;
    color:#383d41;
    padding:5px;
    border-radius:6px;
}
.activity-overdue-text{
    color:#f95754;
}
.activity-schedule{
    font-size:12px;
}
.activity-today{
    color:#155724;
}
.activity-card:hover{
    background-color:#005ce6;
    border-color:#005ce6;
    color:#ffffff !important;
    cursor:pointer;
}
.activity-card:hover span{
    color:#ffffff !important;
}
.opt-done-container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9999;
}
.opt-done-container #flexRadioDefault1:hover{
    cursor:pointer;
}
.btn-activity-scheduled-with-overdue{
    background-color:#f95754;
    border-color:#f95754;
}
.btn-activity-scheduled-with-overdue i{
    color:#ffffff !important;
}
.select-label-action-buttons a{
    color:#ffffff;
}
.view-style-container a{
    margin:0px;
}
.view-style-container .btn-active{
    background-color: #6a4a86 !important;
    color: #ffffff !important;
}
.bx-rotate-45 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
.forecast-month-summary span{
    display:block;
    margin:5px;
}
.forecast-month-won-total{
    color:#1e7b34;
    font-weight:bold;
}
.forecast-month-summary{
    
}