.nav-item .active {
    border-bottom: 3px solid #498002 !important;
    background-color: transparent !important;
    font-weight: bold;
}

.nav-tabs .nav-link {
    border: 0;
}

#tz_form_submit:disabled {
    background-color: #dedede !important;
    border: none;
}

.est_wage_privacy_editor span {
    color: #53B749;
    font-weight: 600;
}

label.est_wage_privacy_editor {
    font-size: 10px;
}

.report_schedule label {
    font-size: 13px;
    padding-top: 3px;
}