input.shift-start-input,
input.shift-end-input {
  width: 105px;
  border: none;
  background-color: #e9ecef;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 12px;
  color: #676767;
  text-align: center;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
input.shift-start-input.changed:focus,
input.shift-end-input.changed:focus {
  border-radius: 1px;
  border-width: 0;
}
#ts_schedule_tbl p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #676767;
}

#ts_schedule_tbl td {
  padding: 12px 8px;
}
input.shift-start-input.changed,
input.shift-end-input.changed {
  background-color: #cddc39;
  color: #212529;
}

input.shift-start-input.changed,
input.shift-end-input.changed {
  background-color: #cddc39;
  color: #212529;
}

input.shift-start-input.pink,
input.shift-end-input.pink {
  background-color: #f9c2df;
  color: #212529;
}
.action-btn-container {
  right: 0;
  bottom: 10px;
  position: absolute;
}
.action-btn-container .btn[disabled] {
  background-color: #ccc;
  border: 1px solid transparent;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

label.shift-end-day-indecator {
  width: 100%;
  color: #ff5722;
  font-size: 12px;
  margin-top: 2px;
}
