.card-body {
  min-height: 446px;
}

.center {
  text-align: center;
}

/*Datatable for Schedule table*/
#timesheet_settings th {
  text-align: center;
}

#tsSettingsRow > td > input:read-only {
  cursor: pointer;
}

#timesheet_settings .fa-times,
th {
  font-weight: lighter !important;
  color: #92969d;
}

#timesheet_settings .fa-times:hover {
  color: orangered;
}

#timesheet_settings .fa-times[disabled] {
  cursor: not-allowed;
  color: #92969d;
}

#timesheet_settings thead,
tfoot {
  background: #d6e6f3;
}

#timesheet_settings thead {
  background: #d6e6f3;
}

#timesheet_settings td {
  border-right: 0;
  border-left: 0;
  text-align: center;
}

.countrySectionEmp .country-select {
  display: block;
  max-width: 212px;
}

.ts-duration {
  width: 90px;
  height: 36px !important;
  margin: 0 auto;
  text-align: center;
}

.ts-duration[disabled] {
  cursor: not-allowed;
}

.ts-project-name {
  font-weight: bold;
  cursor: pointer;
  width: 80%;
}

.ts-project-name:hover {
  text-decoration: underline;
  color: #0b97c4;
}

.ts-status {
  color: greenyellow;
  margin-right: 5px;
  font-size: 8px;
  vertical-align: middle;
  display: inline-block;
}

.ts-settings-menu {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.ts-settings-menu .form-group {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0 !important;
  width: auto;
}

.ts-settings-menu .form-group .ts-settings-datepicker {
  width: 200px;
  display: inline-block;
}

.ts-settings-menu .form-group .btn {
  width: 50px;
  height: 45.99px;
  display: inline-block;
  padding: 0;
  margin-top: -4px;
}

.ts-settings-menu .form-group .right {
  margin-left: -4px;
}

.ts-settings-menu .form-group .btn > i {
  margin: 0 auto;
}

.ts-settings-menu .ts-settings-datepicker {
  margin-right: -5px !important;
}

.ts-bottom-btn-section {
  float: left;
  margin-top: 10px;
}

.ts-bottom-btn-section .form-group {
  display: inline-block;
}

.ts-settings-menu .select2-container--default .select2-selection--single {
  width: 250px !important;
}

.text-details {
  white-space: nowrap;
}

.subtext {
  font-style: italic;
  color: grey;
  position: relative;
}

#tsSettingsRow .fa-pencil-alt {
  color: grey;
}

#tsSettingsRow .fa-pencil-alt:hover {
  text-decoration: underline;
  color: #0b97c4;
}

#tsSettingsRow #showProjectData {
  display: none;
  margin-left: 5px;
}

.alert-message {
  position: fixed;
  bottom: 20px;
  left: 50px;
  z-index: 10000;
  display: none;
}

/*Sweet Alert Css*/
.swal2-title {
  font-size: 20px !important;
}

.swal2-checkbox {
  float: left;
}

.swal2-label {
  font-weight: bold !important;
}

/*Creating project css*/
.modal-right-side .modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  min-width: 520px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal-right-side .modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-right-side.modal-body {
  padding: 20px;
}

.modal-right-side .modal.right.fade .modal-dialog {
  right: 0;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal-right-side .modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal-right-side .modal-content {
  border-radius: 0;
  border: none;
}

.modal-right-side .modal-body .form-group label {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 5px;
}

.modal-right-side .modal-body .form-group .form-control {
  height: 36px !important;
}

.ts-start-date {
  width: 212px;
}

.ts-time-section {
  display: inline-block;
  margin-right: 10px;
}

.ts-time {
  width: 180px;
}

.modal-right-side .modal-body .form-group .select2-container {
  display: block;
  width: 250px !important;
}

.modal-right-side .modal-body {
  margin-bottom: 30px;
}

.modal-right-side .modal-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
}

.ui-timepicker-container {
  z-index: 3500 !important;
}

#addProject:hover {
  text-decoration: underline;
}

#tsSettingsRow .ts-duration + .duration-tip {
  display: none;
  min-width: 90px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  background-color: #0000008a;
  color: #ffffff;
  position: absolute;
  z-index: 20;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

#tsSettingsRow .ts-duration + .duration-tip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #0000008a transparent;
}

#tsSettingsRow .ts-duration:hover + .duration-tip {
  display: block;
}

/*Loader*/
.table-wrapper-settings {
  width: 100%;
  position: sticky;
  display: block;
  margin: 0 auto;
}

#timesheet_settings_wrapper {
  display: none;
}

.table-ts-loader {
  display: block;
  margin: 0 auto;
  clear: both;
  position: relative;
  z-index: 20;
  width: 100%;
  min-height: 100px;
  background: rgb(128 128 128 / 18%);
}

.table-ts-loader img {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*Tabs*/
.tab-pane {
  margin-top: 20px;
}

.nav-item .active {
  border-bottom: 3px solid #498002 !important;
  background-color: transparent !important;
  font-weight: bold;
}

.nav-tabs .nav-link {
  border: 0;
}

/*PTO datatable*/
.table-list_wrapper {
  max-width: 1046px;
}

.table-list_wrapper .dataTables_filter {
  float: left !important;
}

.table-list_wrapper .dataTables_filter label {
  text-indent: 9999px;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 1;
}

.table-list_wrapper .dataTables_filter input[type="search"] {
  display: block;
}

.table-list_wrapper .dataTables_filter input[type="search"]::placeholder {
  font-style: italic;
}

.table-list_wrapper .dataTables_length {
  margin-top: 25px;
  right: 0;
  position: absolute;
}

.ptoTable thead > tr > th {
  font-weight: bold !important;
  text-align: center;
  color: #0b0b0b;
  border-bottom: 2px solid #dee2e6 !important;
}

.ptoTable tr > td {
  border-right: 1px solid black;
}

.ptoTable {
  border-bottom: 1px solid #dee2e6 !important;
}

.ptoTable .fa-times {
  font-weight: lighter !important;
  color: #92969d;
}

.ptoTable .fa-times:hover {
  color: orangered;
}

.ptoTable .fa-thumbs-up {
  font-weight: lighter !important;
  color: #017cde;
}

.ptoTable .fa-thumbs-up:hover {
  color: #498002;
}

/*Modal effect*/
.md-effect-11 .modal-content {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.show.md-effect-11 .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/*Leave modal css*/
#listLeaveType .modal-content {
  border-radius: 0;
  border-color: transparent;
  min-width: 700px;
}

@media (min-width: 576px) {
  #listLeaveType .modal-dialog {
    max-width: 700px !important;
  }
}

.modal-backdrop {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 7, 10, 0.44);
}

.modal-backdrop.in {
  opacity: 1 !important;
}

.display {
  display: inline-block;
}

.hidden {
  display: none;
}

#leaveTableList tbody tr {
  cursor: pointer;
}

#leaveTableList tbody tr input.form-control {
  height: 36px !important;
}

/*Invite email input css*/
.invite-email {
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.remove-email-icon {
  position: absolute;
  bottom: 2px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  visibility: hidden;
}

#sendInviteLink[disabled] {
  cursor: not-allowed;
  background: #73c686;
}

/*Department dataTable*/
.departmentTbl th {
  font-weight: bold !important;
  /*background: #efefef;*/
}

.add-department-btn {
  font-size: 18px;
  font-weight: 400;
  color: #0bd4ad;
  float: right;
}

.add-department-btn:hover {
  color: #61f1d5;
}

/*Department modal*/
#departmentModal .modal-content {
  margin-top: 40%;
}

.input-department {
  width: 95%;
  display: inline-block;
}

.remove-row-dept {
  display: inline-block;
}

.remove-row-dept a {
  color: #92969d;
}

.remove-row-dept a:hover {
  color: orangered;
}

.department-row {
  margin-bottom: 10px;
}

.add-department-row {
  margin-top: 10px;
}

.add-department-row a {
  color: #0bd4ad;
  font-weight: 400;
}

.add-department-row a:hover {
  color: #61f1d5;
}

.tbl-dept-row td {
  cursor: pointer;
}

.tbl-dept-row td:last-child {
  cursor: auto;
}

/*Department update page*/
.dept-header {
  border-bottom: 1px solid #92969d45;
}

.dept-header h3,
i {
  display: inline-block;
}

.dept-header a {
  color: #a2a2a2;
}

.dept-header a:hover {
  color: #5f5f5f;
}

.dept-sub-header {
  border-bottom: 1px solid #92969d45;
  background: #efefefb5;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dept-sub-header .sub-header-title {
  font-size: 16px;
  font-weight: 700;
  color: #5f5f5f;
  margin-left: 8px;
}

.dept-role-title {
  padding: 20px;
  border-bottom: 1px solid #92969d45;
  background: #fafafa;
}

.dept-role-add {
  padding: 20px;
  border-bottom: 1px solid #92969d45;
}

.dept-role-add a {
  color: #0bd4ad;
}

.dept-role-add a:hover {
  text-decoration: underline;
}

.dept-role-add i {
  margin-right: 15px;
}

.dept-role-add i,
.dept-add-btn {
  font-size: 16px;
  font-weight: 700;
}

/*Department add members*/
#addMembersModal .modal-content {
  margin-top: 40%;
}

.add-member-dept-row {
  height: 80px;
}

.add-member-dept-row .add-member-header {
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  color: #c7c7c7;
  padding-bottom: 4px;
  border-bottom: 2px solid #efefef;
  margin-bottom: 16px;
  display: inline-block;
  width: 100%;
}

.add-member-dept-row .add-member-section input {
  margin-right: 10px;
}

.add-member-dept-row .add-member-section span {
  font-weight: 600;
  font-size: 16px;
}

/*Workweek settings*/
.workweek-overtime-header {
  padding: 15px;
}

.workweek-overtime-header button {
  float: right;
}

.workweek-container {
  border-top: 1px solid #92969d45;
  padding-top: 30px;
  padding-bottom: 30px;
}

.workweek-header {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 15px;
}

.workweek-container .workweek-section {
  width: 70%;
  margin-left: 7%;
  margin-bottom: 10px;
}

.workweek-title span {
  font-size: 16px;
  font-weight: 600;
}

.workweek-title,
.workweek-menu {
  display: inline-block;
  width: 220px;
}

.overtime-radio input[type="radio"] {
  appearance: none;
}

.overtime-radio input[type="radio"] + label:before {
  content: "";
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  margin-right: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

.overtime-radio input[type="radio"]:checked + label:before {
  background: #63c95a;
}

.overtime-radio {
  margin-right: 12px;
  vertical-align: top;
}

.role-checkbox input[type="checkbox"]:checked + label:before {
  background: #63c95a;
}

.role-checkbox input[type="checkbox"] {
  appearance: none;
  width: 0 !important;
}

.role-checkbox input[type="checkbox"] + label:before {
  content: "";
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  margin-right: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

.role-checkbox {
  margin-right: 12px;
  vertical-align: top;
}

.overtime-radio,
.overtime-title-row,
.role-checkbox {
  display: inline-block;
}

.overtime-title {
  font-size: 16px;
  font-weight: 600;
}

.overtime-sub-title {
  display: block;
  font-size: 12px;
  color: #c7c7c7;
}

/*Break Preferences*/
.break-pref-container {
  border-top: 1px solid #92969d45;
}

.break-pref-title,
.break-pref-dp {
  display: inline-block;
}

.break-pref-section .break-pref-title {
  font-size: 16px;
  font-weight: 600;
  margin: 20px;
  width: 220px;
}

.break-pref-section .break-pref-dp {
  width: 200px;
}

.break-pref-section .break-pref-sub-title {
  display: block;
  font-size: 13px;
  color: #c7c7c7;
  margin-left: 20px;
}

.break-pref-length {
  display: none;
}

/*Manual Entries*/
.disabled-section {
  color: #c7c7c7;
}

.disabled-section input[type="checkbox"]:checked + label:before {
  background: #c7c7c7;
}

/*Notification*/
.notify-section {
  width: 100%;
  height: 46px;
  margin-bottom: 10px;
}

.notify-section .col-md-4 div {
  float: right;
}

.notify-checkbox,
.notify-label {
  display: inline-block;
  vertical-align: bottom;
}

.notify-label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.notify-arrow,
.notify-text,
.notify-time-in {
  display: inline-block;
  margin-left: 10px;
}

.notify-arrow {
  color: #c7c7c7;
}

.notify-text {
  font-size: 16px;
}

.notify-time-in {
  width: 120px;
}

.notify-section .row .col-md-8 {
  margin-top: 11px;
}

.notify-row-days {
  width: 80%;
  margin: 0 auto;
}

.notify-day-cell {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 2px solid gray;
  text-align: center;
  cursor: pointer;
}
#otrequest-table-list thead tr th {
  font-weight: bold !important;
  color: #464545;
}
#otrequest-table-list tr td a {
  color: #fff;
  width: 110px;
  margin-bottom: 10px;
}

#otrequest-table-list tr td a:hover {
  font-weight: bolder;
  color: #ffffff91;
}
#otrequest-table-list_filter input {
  visibility: visible;
  margin: 0;
  position: relative;
  margin-left: 10px;
}
